<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventclix.Online - Adam's Peak</title>
  <link rel="stylesheet" type="text/css" href="../../../Assets/CSS/info-css/travel-c/adams.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../../../Assets/img/content/logo-dark.png" media="(prefers-color-scheme: light)">
  <link rel="icon" href="../../../Assets/img/content/logo-light.png" media="(prefers-color-scheme: dark)">
</head>
</head>

<body>

  <!--Navigaion bar-->
  <section>
    <header>
      <a href="../../../index.html" class="logo"><span>EVENTCLiX.ONLINE</span></a>

      <button class="menu-button" id="menu-button" onclick="toggleNav()">&#9776;</button>
      <nav class="navbar">
        <a href="../../../index.html">Home</a>
        <a href="../../event.html">Find Info</a>
        <a href="../../gallery.html">Gallery</a>
        <a href="../../about-us.html">About Us</a>
        <a href="../../Auth/index.php">Contact Us</a>
      </nav>
    </header>

    <!--Navigaion bar end-->


    <!--Landing page-->
    <div class="content">
      <div class="info">
        <h2>Adam's Peak</h2>
        <p>Adam's Peak, also known as Sri Pada or "Sacred Footprint," is a mountain located in central Sri Lanka. It is
          a popular destination for tourists and pilgrims due to its significance in Buddhism, Hinduism, Islam, and
          Christianity. The mountain is named after the footprint-shaped mark on its summit, which is believed to be the
          footprint of the Buddha, the Hindu deity Shiva, or the biblical Adam, depending on one's faith
          tradition.<br><br>

          Adam's Peak is located in the central highlands of Sri Lanka and stands at an elevation of 2,243 meters (7,359
          feet). It is a popular hiking destination and is known for its beautiful views of the surrounding landscape.
          The hike to the summit typically takes about 6-7 hours and is typically done at night, as the views from the
          top are best at sunrise.<br><br>

          In addition to its religious significance, Adam's Peak is also an important ecological site and is home to a
          number of rare plant and animal species. The mountain is surrounded by a number of forests, including the
          Sinharaja Forest Reserve, which is a UNESCO World Heritage Site.

        </p>
      </div>
    </div>
  </section>
  <!--Landing page end-->


  <!--Content 1-->
  <div class="content-1">
    <div class="text">
      <h1>History</h1>

      <p>Adam's Peak, whose history dates back to the pre-Christian era, is special to all religions and expressed in
        different ways if you ask the locals about the history of this sacred mountain, hence relying on whom you are
        asking. Buddhists believe that it was the residence of their lord.<br><br> While Hindus hold that according to their
        folktale it is in Adam's Peak that Ravana, King of Asura, hid Seetha, the queen of Lord Rama after abducting her
        from India.<br><br> Muslims have it that after the forbidden fruit incident from Heaven, Adam directly descended on
        Adam's Peak. Sun-worshippers are said to have made first offerings here in 140 BC with King Dutugemunu who had
        given staples to monks at Sri Pada; the karma of which incident is said to have healed him at the deathbed.
        According to the chronicle of the ancient history of Sri Lanka, the story of Sri Pada has something to do with
        Queen Varija, daughter-in-law of King Kashyapa.<br><br> At various points in history, the holy destination had to face
        setbacks and remain away from public attention.</p>

    </div>
    <button class="button-18" role="button"><a class="btn-text" href="https://www.ceylonexpeditions.com/sri-pada-mountain-sri-lanka" target="_blank"> Learn More </a></button>
  </div>

  <div class="container">
    <div class="box">

      <div class="dream">
        <img src="https://srilankatourisminfo.com/wp-content/uploads/2019/12/Adams-Peak.jpg">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/16/db/8e/fb/adam-s-peak-is-a-2-243.jpg">
        <img src="https://thumbs.dreamstime.com/b/sri-pada-paadaya-temple-sacred-buddha-footprint-buddhist-tradition-adams-peak-top-adams-peak-sri-pada-101376240.jpg">
      </div>

      <div class="dream">
        <img src="https://www.islamiclandmarks.com/wp-content/uploads/2016/01/Footprint-of-Adam-a.s..jpg">
        <img src="http://inmyshoestravel.com/wp-content/uploads/2016/09/adams-peak.jpg">
        <img src="https://mediaim.expedia.com/localexpert/1314607/45ac520e-41d4-480c-9d33-3245b142e2cb.jpg?impolicy=resizecrop&rw=1005&rh=565">
      </div>

      <div class="dream">
        <img src="https://explorelanka.com/wp-content/uploads/2015/02/adams-peak_srilanka.jpg">
        <img src="https://www.attractionsinsrilanka.com/wp-content/uploads/2020/07/Sripada-.jpg">
        <img src="https://www.ceylonexpeditions.com/medias/destination_places/big/110/sri-pada-adam-s-peak-sri-lanka.jpg">
      </div>


    </div>
  </div>


  <!-- Footer start -->
  <footer>
    <div class="footer-container">

      <div class="one-footer">
        <img src="../../../Assets/img/content/logo-light.png" alt="LOGO">

        <p>
          EVENTCLiX.ONLINE<br>Is a website designed to help tourist<br>discover our and
          book events and acvities in their<br>
          destination.
        </p>
      </div>

      <div class="two-footer">
        <ul>
          <li><a href="../../../index.html">Home</a></li>
          <li><a href="../../event.html">Find Info</a></li>
          <li><a href="../../gallery.html">Gallery</a></li>
          <li><a href="../../about-us.html">About Us</a></li>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
        </ul>
      </div>

      <div class="three-footer">
        <ul>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
          <li><a href="mailto:eventclix.online@gmail.com">eventclix.online@gmail.com</a></li>
          <li><a href="mailto:info@eventclix.online">info@eventclix.online</a></li>
          <li><a href="tel:+94 1912">TOURISM HOTLINE : 1912</a></li>
          <li><a href="tel:+94 11 242 1052">TOURISM POLICE +94 11 242 1052</a></li>
        </ul>
      </div>

      <div class="icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
    <hr>
    <p class=copyright> Copyright ® 2023 GROUP-100 All rights Reserved </p>
  </footer>
  <!-- Footer start -->

  </div>

  <script src="../../../Assets/JS/script.js"></script>
</body>

</html>