<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventclix.Online - Ella</title>
  <link rel="stylesheet" type="text/css" href="../../../Assets/CSS/info-css/travel-c/ella.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../../../Assets/img/content/logo-dark.png" media="(prefers-color-scheme: light)">
  <link rel="icon" href="../../../Assets/img/content/logo-light.png" media="(prefers-color-scheme: dark)">
</head>
</head>

<body>

  <!--Navigaion bar-->
  <section>
    <header>
      <a href="../../../index.html" class="logo"><span>EVENTCLiX.ONLINE</span></a>

      <button class="menu-button" id="menu-button" onclick="toggleNav()">&#9776;</button>
      <nav class="navbar">
        <a href="../../../index.html">Home</a>
        <a href="../../event.html">Find Info</a>
        <a href="../../gallery.html">Gallery</a>
        <a href="../../about-us.html">About Us</a>
        <a href="../../Auth/index.php">Contact Us</a>
      </nav>
    </header>

    <!--Navigaion bar end-->


    <!--Landing page-->
    <div class="content">
      <div class="info">
        <h2>Ella</h2>
        <p>Ella is a small town located in the Badulla District of Uva Province, Sri Lanka. It is situated in the hills
          of the southern region of the central highlands, about 1000 meters above sea level.<br> The town is known
          for its picturesque location, with stunning views of the surrounding mountains and valleys. It is a popular
          tourist
          destination, with a number of attractions including hiking trails, waterfalls, and cultural sites.<br><br>
          Many people visit Ella to experience the town's cool, refreshing climate and to enjoy the natural beauty of
          the area.

          Ella (Sinhala: ඇල්ල; Lit. "water fall"; Tamil: எல்ல) is a small town in the Badulla District of Uva Province,
          Sri Lanka governed by an Urban Council. It is approximately 200 kilometres (120 mi) east of Colombo and is
          situated at an elevation of 1,041 metres (3,415 ft) above sea level. The area has a rich bio-diversity,
          dense with numerous varieties of flora and fauna. Ella is surrounded by hills covered with cloud forests and
          tea plantations. The town has a cooler climate than surrounding lowlands, due to its elevation. The Ella Gap
          allows views across the southern plains of Sri Lanka.
        </p>
      </div>
    </div>
  </section>
  <!--Landing page end-->


  <!--Content 1-->
  <div class="content-1">
    <div class="text">
      <h1>History</h1>

      <p>Ella is a town with a long and rich history. The area has been inhabited for thousands of years, and has been
        home to a number of different cultures and civilizations over the centuries.<br><br>

        The earliest recorded history of Ella dates back to the 3rd century BCE, when it was part of the kingdom of
        Rajarata, one of the three main kingdoms of ancient Sri Lanka. The town was later conquered by the Cholas, a
        powerful South Indian dynasty, and it remained under their rule for several centuries.<br><br>

        During the colonial period, Ella was a center of the tea industry, with numerous tea plantations established in
        the surrounding hills. The town was also home to a number of important administrative and military facilities
        during this time.<br><br>Today, Ella is a popular tourist destination, with a number of attractions and
        activities for visitors to enjoy.
        The town's history and cultural heritage are an important part of its appeal, and many people come to Ella to
        learn about its past and experience its unique atmosphere.</p>

    </div>
    <button class="button-18" role="button"><a class="btn-text" href="https://en.wikipedia.org/wiki/Ella,_Sri_Lanka" target="_blank">
        Learn More </a></button>
  </div>

  <div class="container">
    <div class="box">

      <div class="dream">
        <img src="https://destinationlesstravel.com/wp-content/uploads/2020/04/Ella-to-Kandy-train-1024x680.jpg.webp">
        <img src="https://www.srilankatravelandtourism.com/places-sri-lanka/ella/ella-images/ella-1-sri-lanka.jpg">
        <img src="https://img.freepik.com/premium-photo/demodara-nine-arch-bridge-ella-sri-lanka_131985-429.jpg?w=2000">
      </div>

      <div class="dream">
        <img src="https://diyanillakelleestatebungalow.com/wp-content/uploads/2019/10/Ella-Sri-Lanka-8-Fantastic-things-to-do-in-Ella-Sri-Lanka.jpg">
        <img src="https://www.slride.com/blog/wp-content/uploads/2020/07/EUm_scqX0AgyPm9.jpg">
        <img src="https://www.srilankainstyle.com/storage/app/media/Locations/Ella/ella-slider-1.jpg">
      </div>

      <div class="dream">
        <img src="https://www.backpacksters.com/wp-content/uploads/2020/03/Sri-Lanka-Ella-to-Nuwara-Eliya-Train-4.jpg">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/03/dc/d0/1c/98-acres-resort.jpg">
        <img src="https://destinationlesstravel.com/wp-content/uploads/2019/05/DSC_9600-1-1024x684-1024x684.jpg">
      </div>


    </div>
  </div>


  <!-- Footer start -->
  <footer>
    <div class="footer-container">

      <div class="one-footer">
        <img src="../../../Assets/img/content/logo-light.png" alt="LOGO">

        <p>
          EVENTCLiX.ONLINE<br>Is a website designed to help tourist<br>discover our and
          book events and acvities in their<br>
          destination.
        </p>
      </div>

      <div class="two-footer">
        <ul>
          <li><a href="../../../index.html">Home</a></li>
          <li><a href="../../event.html">Find Info</a></li>
          <li><a href="../../gallery.html">Gallery</a></li>
          <li><a href="../../about-us.html">About Us</a></li>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
        </ul>
      </div>

      <div class="three-footer">
        <ul>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
          <li><a href="mailto:eventclix.online@gmail.com">eventclix.online@gmail.com</a></li>
          <li><a href="mailto:info@eventclix.online">info@eventclix.online</a></li>
          <li><a href="tel:+94 1912">TOURISM HOTLINE : 1912</a></li>
          <li><a href="tel:+94 11 242 1052">TOURISM POLICE +94 11 242 1052</a></li>
        </ul>
      </div>

      <div class="icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
    <hr>
    <p class=copyright> Copyright ® 2023 GROUP-100 All rights Reserved </p>
  </footer>
  <!-- Footer start -->

  </div>

  <script src="../../../Assets/JS/script.js"></script>
</body>

</html>