<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventclix.Online - Galle</title>
  <link rel="stylesheet" type="text/css" href="../../../Assets/CSS/info-css/travel-c/galle.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../../../Assets/img/content/logo-dark.png" media="(prefers-color-scheme: light)">
  <link rel="icon" href="../../../Assets/img/content/logo-light.png" media="(prefers-color-scheme: dark)">
</head>
</head>

<body>

  <!--Navigaion bar-->
  <section>
    <header>
      <a href="../../../index.html" class="logo"><span>EVENTCLiX.ONLINE</span></a>

      <button class="menu-button" id="menu-button" onclick="toggleNav()">&#9776;</button>
      <nav class="navbar">
        <a href="../../../index.html">Home</a>
        <a href="../../event.html">Find Info</a>
        <a href="../../gallery.html">Gallery</a>
        <a href="../../about-us.html">About Us</a>
        <a href="../../Auth/index.php">Contact Us</a>
      </nav>
    </header>

    <!--Navigaion bar end-->


    <!--Landing page-->
    <div class="content">
      <div class="info">
        <h2>Galle</h2>
        <p>Galle is a city located on the southwest coast of Sri Lanka. It is the capital of the Southern Province and
          is known for its historic Dutch fort, which was built in the 16th century. The fort is a UNESCO World Heritage
          site and is a popular tourist attraction in Galle.<br><br> The city itself is a mix of old and new, with a blend of
          Dutch colonial architecture and modern buildings. Galle is also home to several museums, including the
          National Maritime Museum and the Galle National Museum. In addition to its cultural attractions, Galle is
          known for its beautiful beaches and is a popular destination for beachgoers.<br><br> The city is also home to a number
          of restaurants and cafes serving local and international cuisine.
        </p>
      </div>
    </div>
  </section>
  <!--Landing page end-->


  <!--Content 1-->
  <div class="content-1">
    <div class="text">
      <h1>History</h1>

      <p>Galle has a long and varied history. The city was founded by Arab traders in the 9th century and was later
        conquered by the Portuguese in the 16th century.<br><br> The Dutch arrived in the 17th century and built the fort that
        is now a UNESCO World Heritage site. The British took control of the city in the 19th century and ruled until
        Sri Lanka gained independence in 1948.<br><br> Today, Galle is a major city in Sri Lanka and is known for its historic
        fort and cultural attractions. It is a popular destination for tourists and is home to a diverse population made
        up of Sinhalese, Tamil, and Muslim communities.</p>

    </div>
    <button class="button-18" role="button"><a class="btn-text" href="https://en.wikipedia.org/wiki/Galle" target="_blank"> Learn More </a></button>
  </div>

  <div class="container">
    <div class="box">

      <div class="dream">
        <img src="https://ceylontoday.lk/wp-content/uploads/2022/08/Galle-Face-copy.jpg">
        <img src="https://api.ceylonways.com/images/30fb6f5a-8ca8-470b-a99d-4e552e1c206a.webp">
        <img src="https://efl.lk/wp-content/uploads/2018/08/The-Galle-Face-Case_Iris-Liu.jpg">
      </div>

      <div class="dream">
        <img src="https://www.urlaub-sr-lanka.info/img/2013/04/galle.jpg">
        <img src="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__live_banner__lb_image__1880bp/public/live_banner/galle.jpg">
        <img src="https://srilankatravelgram.com/wp-content/uploads/2020/09/Galle.jpg">
      </div>

      <div class="dream">
        <img src="https://driversinsrilanka.com/wp-content/uploads/2022/08/galle-fort.jpg">
        <img src="https://lp-cms-production.imgix.net/2019-06/GettyImages-477728584_high.jpg">
        <img src="https://www.tripsavvy.com/thmb/OSq5121j9i0uIhW8UIbSJrZA0aM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-520870128-1c1f8305c37949ab967d13de38ddf9eb.jpg">
      </div>


    </div>
  </div>


  <!-- Footer start -->
  <footer>
    <div class="footer-container">

      <div class="one-footer">
        <img src="../../../Assets/img/content/logo-light.png" alt="LOGO">

        <p>
          EVENTCLiX.ONLINE<br>Is a website designed to help tourist<br>discover our and
          book events and acvities in their<br>
          destination.
        </p>
      </div>

      <div class="two-footer">
        <ul>
          <li><a href="../../../index.html">Home</a></li>
          <li><a href="../../event.html">Find Info</a></li>
          <li><a href="../../gallery.html">Gallery</a></li>
          <li><a href="../../about-us.html">About Us</a></li>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
        </ul>
      </div>

      <div class="three-footer">
        <ul>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
          <li><a href="mailto:eventclix.online@gmail.com">eventclix.online@gmail.com</a></li>
          <li><a href="mailto:info@eventclix.online">info@eventclix.online</a></li>
          <li><a href="tel:+94 1912">TOURISM HOTLINE : 1912</a></li>
          <li><a href="tel:+94 11 242 1052">TOURISM POLICE +94 11 242 1052</a></li>
        </ul>
      </div>

      <div class="icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
    <hr>
    <p class=copyright> Copyright ® 2023 GROUP-100 All rights Reserved </p>
  </footer>
  <!-- Footer start -->

  </div>

  <script src="../../../Assets/JS/script.js"></script>
</body>

</html>