<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventclix.Online - Kandy</title>
  <link rel="stylesheet" type="text/css" href="../../../Assets/CSS/info-css/travel-c/kandy.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../../../Assets/img/content/logo-dark.png" media="(prefers-color-scheme: light)">
  <link rel="icon" href="../../../Assets/img/content/logo-light.png" media="(prefers-color-scheme: dark)">
</head>
</head>

<body>

  <!--Navigaion bar-->
  <section>
    <header>
      <a href="../../../index.html" class="logo"><span>EVENTCLiX.ONLINE</span></a>

      <button class="menu-button" id="menu-button" onclick="toggleNav()">&#9776;</button>
      <nav class="navbar">
        <a href="../../../index.html">Home</a>
        <a href="../../event.html">Find Info</a>
        <a href="../../gallery.html">Gallery</a>
        <a href="../../about-us.html">About Us</a>
        <a href="../../Auth/index.php">Contact Us</a>
      </nav>
    </header>

    <!--Navigaion bar end-->


    <!--Landing page-->
    <div class="content">
      <div class="info">
        <h2>Kandy</h2>
        <p>
          Kandy is the second largest city in Sri Lanka and is located in the Central Province. It is known for its rich
          history and culture, and is a popular tourist destination in the country.<br><br> The city is home to the Temple of
          the Tooth, a sacred Buddhist site that houses a tooth relic of the Buddha. Kandy is also known for its
          beautiful lake, which is surrounded by a number of temples, restaurants, and other attractions.<br><br> The city is
          located in the midst of hills and is known for its pleasant climate. It is a great place to visit if you are
          interested in learning about Sri Lanka's culture and history.
        </p>
      </div>
    </div>
  </section>
  <!--Landing page end-->


  <!--Content 1-->
  <div class="content-1">
    <div class="text">
      <h1>History</h1>

      <p>Kandy is a city located in the central province of Sri Lanka. It is the second largest city in the country and
        is considered the cultural capital of Sri Lanka. The city has a long and rich history dating back to the 14th
        century.<br><br>

        According to legend, Kandy was founded by King Vikramabahu III of Gampola, who named the city Senkadagalapura.
        It later came under the control of the Kingdom of Kandy, which was a powerful kingdom in the central highlands
        of the island. The Kingdom of Kandy was known for its cultural and religious achievements and played a major
        role in the history of Sri Lanka.<br><br>

        During the colonial period, Kandy was the capital of the Kingdom of Kandy, which was a protectorate of the
        British Empire. The city played a significant role in the struggle for independence and was the site of the
        Kandy Convention, which marked the end of British rule in the country.<br><br>

        Today, Kandy is a major tourist destination in Sri Lanka known for its historical sites, beautiful landscapes,
        and cultural attractions. It is home to the Temple of the Tooth, which is a major Buddhist shrine, and the Kandy
        Esala Perahera, which is a colorful and elaborate festival held annually in the city.</p>

    </div>
    <button class="button-18" role="button"><a class="btn-text" href="https://en.wikipedia.org/wiki/Kandy" target="_blank"> Learn More </a></button>
  </div>

  <div class="container">
    <div class="box">

      <div class="dream">
        <img src="https://www.holidify.com/images/cmsuploads/compressed/shutterstock_508065223_20191120113438.jpg">
        <img src="https://www.greatgardensoftheworld.com/wp-content/uploads/2020/01/GALLERY_RBG-5.jpg">
        <img
          src="https://www.makemytrip.com/travel-guide/media/dg_image/kandy/Peradeniya-Botanical-Gardens-in-Kandy-Koshy-Koshy-flickr.jpg">
      </div>

      <div class="dream">
        <img src="https://et-website.s3.amazonaws.com/uploads/2016/02/Temple-of-the-Tooth-Kandy-Sri-Lanka.jpg">
        <img src="https://www.kandycitycentre.lk/images/06-banner.jpg">
        <img src="https://images.contentstack.io/v3/assets/blt00454ccee8f8fe6b/blt084247710f6ab6fc/61c06c758f8a44201b511a54/US_Kandy_SriLanka_Header.jpg
        ">
      </div>

      <div class="dream">
        <img src="https://lh3.googleusercontent.com/p/AF1QipMYVWV_MnrSP-y1PGCK-vsR29k4eFntXPbw0wQv
        ">
        <img src="https://img.traveltriangle.com/blog/wp-content/uploads/2019/07/Kandy-Cover.jpg">
        <img src="https://sandinmysuitcase.com/wp-content/uploads/2021/04/Kandy-Sri-Lanka.jpg.webp">
      </div>


    </div>
  </div>


  <!-- Footer start -->
  <footer>
    <div class="footer-container">

      <div class="one-footer">
        <img src="../../../Assets/img/content/logo-light.png" alt="LOGO">

        <p>
          EVENTCLiX.ONLINE<br>Is a website designed to help tourist<br>discover our and
          book events and acvities in their<br>
          destination.
        </p>
      </div>

      <div class="two-footer">
        <ul>
          <li><a href="../../../index.html">Home</a></li>
          <li><a href="../../event.html">Find Info</a></li>
          <li><a href="../../gallery.html">Gallery</a></li>
          <li><a href="../../about-us.html">About Us</a></li>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
        </ul>
      </div>

      <div class="three-footer">
        <ul>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
          <li><a href="mailto:eventclix.online@gmail.com">eventclix.online@gmail.com</a></li>
          <li><a href="mailto:info@eventclix.online">info@eventclix.online</a></li>
          <li><a href="tel:+94 1912">TOURISM HOTLINE : 1912</a></li>
          <li><a href="tel:+94 11 242 1052">TOURISM POLICE +94 11 242 1052</a></li>
        </ul>
      </div>

      <div class="icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
    <hr>
    <p class=copyright> Copyright ® 2023 GROUP-100 All rights Reserved </p>
  </footer>
  <!-- Footer start -->

  </div>

  <script src="../../../Assets/JS/script.js"></script>
</body>

</html>