<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventclix.Online - Nuwaraeliya</title>
  <link rel="stylesheet" type="text/css" href="../../../Assets/CSS/info-css/travel-c/nuwaraeliya.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../../../Assets/img/content/logo-dark.png" media="(prefers-color-scheme: light)">
  <link rel="icon" href="../../../Assets/img/content/logo-light.png" media="(prefers-color-scheme: dark)">
</head>
</head>

<body>

  <!--Navigaion bar-->
  <section>
    <header>
      <a href="../../../index.html" class="logo"><span>EVENTCLiX.ONLINE</span></a>

      <button class="menu-button" id="menu-button" onclick="toggleNav()">&#9776;</button>
      <nav class="navbar">
        <a href="../../../index.html">Home</a>
        <a href="../../event.html">Find Info</a>
        <a href="../../gallery.html">Gallery</a>
        <a href="../../about-us.html">About Us</a>
        <a href="../../Auth/index.php">Contact Us</a>
      </nav>
    </header>

    <!--Navigaion bar end-->


    <!--Landing page-->
    <div class="content">
      <div class="info">
        <h2>Nuwaraeliya</h2>
        <p>Nuwara Eliya is a city in the central hills of Sri Lanka. It is located at an altitude of 1,868 meters (6,128
          feet) above sea level and is known for its cool climate and scenic beauty. The city is located in the Nuwara
          Eliya District of the Central Province and is the administrative capital of the district.<br><br>

          Nuwara Eliya is often referred to as "Little England" due to its English-style architecture and landscaping.
          The city is home to many colonial-era bungalows, hotels, and buildings, as well as beautiful parks and
          gardens. It is a popular tourist destination, especially for travelers who are interested in experiencing the
          country's colonial history and natural beauty.Nuwara Eliya is also known for its tea production. The
          surrounding hills are covered with tea plantations, and
          the city is home to several tea factories. The region's cool climate and high altitude make it well-suited for
          growing high-quality tea.<br><br>

          In addition to its historical and natural attractions, Nuwara Eliya is also a popular destination for outdoor
          activities such as hiking, golfing, and horse riding.
        </p>
      </div>
    </div>
  </section>
  <!--Landing page end-->


  <!--Content 1-->
  <div class="content-1">
    <div class="text">
      <h1>History</h1>

      <p>Nuwara Eliya is a city located in the central hills of Sri Lanka. It was founded in the 19th century by British
        colonists who were attracted to the area's cool climate and scenic beauty. The city was developed as a hill
        station, a type of resort town that was popular among the British during the colonial period.<br><br>

        Nuwara Eliya was designed to resemble a typical English village, with English-style bungalows, hotels, and
        buildings, as well as parks and gardens. It quickly became a popular tourist destination, especially for
        travelers who were seeking a break from the hot and humid climate of the lowlands.

        In addition to its status as a tourist destination, Nuwara Eliya also became an important center of tea
        production. The surrounding hills are covered with tea plantations, and the city is home to several tea
        factories. The region's cool climate and high altitude make it well-suited for growing high-quality tea.<br><br>

        Today, Nuwara Eliya is still a popular tourist destination and is known for its English-style architecture,
        natural beauty, and tea production. It is also a popular destination for outdoor activities such as hiking,
        golfing, and horse riding.
      </p>

    </div>
    <button class="button-18" role="button"><a class="btn-text" href="https://en.wikipedia.org/wiki/Nuwara_Eliya" target="_blank"> Learn More </a></button>
  </div>

  <div class="container">
    <div class="box">

      <div class="dream">
        <img src="https://www.ramadakatunayake.com/wp-content/uploads/2016/05/Tea-Gardens.jpg">
        <img src="https://img.traveltriangle.com/blog/wp-content/uploads/2018/09/shutterstock_1130372963.jpg">
        <img src="https://cdn.shopify.com/s/files/1/1762/3971/files/LKI9255986-11-E.jpg?v=1655814385&width=1500">
      </div>

      <div class="dream">
        <img src="https://sri-lanka.de/wp-content/uploads/sites/62/2020/01/nuwara-eliya-sri-lanka-egle-sidaraviciute-ueBzLdRhhxQ-unsplash-scaled.jpg">
        <img src="https://dhammikapalace.com/wp-content/uploads/2020/05/20151011_085108-scaled-e1593858166983.jpg">
        <img src="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__live_banner__lb_image__1880bp/public/live_banner/Nuwara-Eliya.jpg">
      </div>

      <div class="dream">
        <img src="https://theculturetrip.com/wp-content/uploads/2021/03/2bdyr30-e1615912005381.jpg">
        <img src="https://content.r9cdn.net/rimg/dimg/67/3c/ca2d29f3-city-5201-166598d82dd.jpg?width=1366&height=768&xhint=2387&yhint=1811&crop=true">
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0e/2d/1d/0f/img-20161230-041500-366.jpg?w=700&h=-1&s=1">
      </div>


    </div>
  </div>


  <!-- Footer start -->
  <footer>
    <div class="footer-container">

      <div class="one-footer">
        <img src="../../../Assets/img/content/logo-light.png" alt="LOGO">

        <p>
          EVENTCLiX.ONLINE<br>Is a website designed to help tourist<br>discover our and
          book events and acvities in their<br>
          destination.
        </p>
      </div>

      <div class="two-footer">
        <ul>
          <li><a href="../../../index.html">Home</a></li>
          <li><a href="../../event.html">Find Info</a></li>
          <li><a href="../../gallery.html">Gallery</a></li>
          <li><a href="../../about-us.html">About Us</a></li>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
        </ul>
      </div>

      <div class="three-footer">
        <ul>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
          <li><a href="mailto:eventclix.online@gmail.com">eventclix.online@gmail.com</a></li>
          <li><a href="mailto:info@eventclix.online">info@eventclix.online</a></li>
          <li><a href="tel:+94 1912">TOURISM HOTLINE : 1912</a></li>
          <li><a href="tel:+94 11 242 1052">TOURISM POLICE +94 11 242 1052</a></li>
        </ul>
      </div>

      <div class="icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
    <hr>
    <p class=copyright> Copyright ® 2023 GROUP-100 All rights Reserved </p>
  </footer>
  <!-- Footer start -->

  </div>

  <script src="../../../Assets/JS/script.js"></script>
</body>

</html>