<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventclix.Online - Yala</title>
  <link rel="stylesheet" type="text/css" href="../../../Assets/CSS/info-css/travel-c/yala.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../../../Assets/img/content/logo-dark.png" media="(prefers-color-scheme: light)">
  <link rel="icon" href="../../../Assets/img/content/logo-light.png" media="(prefers-color-scheme: dark)">
</head>
</head>

<body>

  <!--Navigaion bar-->
  <section>
    <header>
      <a href="../../../index.html" class="logo"><span>EVENTCLiX.ONLINE</span></a>

      <button class="menu-button" id="menu-button" onclick="toggleNav()">&#9776;</button>
      <nav class="navbar">
        <a href="../../../index.html">Home</a>
        <a href="../../event.html">Find Info</a>
        <a href="../../gallery.html">Gallery</a>
        <a href="../../about-us.html">About Us</a>
        <a href="../../Auth/index.php">Contact Us</a>
      </nav>
    </header>

    <!--Navigaion bar end-->


    <!--Landing page-->
    <div class="content">
      <div class="info">
        <h2>Yala</h2>
        <p>Yala National Park is a protected area located in the southeast region of Sri Lanka. It is the second largest
          national park in the country and is known for its diverse wildlife, including elephants, leopards, and a
          variety of bird species. The park is located in the dry zone of Sri Lanka and is characterized by scrubland,
          forests, and grasslands.<br><br>

          Yala National Park is home to a number of endangered species, including the Sri Lankan elephant, the Sri
          Lankan leopard, and the sloth bear. It is also home to a variety of bird species, including the painted stork,
          the black-necked stork, and the white ibis. In addition to its rich wildlife, the park is also home to a
          number of ancient ruins and historical sites, including the Magul Maha Viharaya temple and the Sithulpahuwa
          rock temple.<br><br>

          Tourists can visit Yala National Park by jeep or on foot and can participate in a variety of activities,
          including wildlife spotting, birdwatching, and photography. The park is open year-round, but the best time to
          visit is from February to July, when the weather is dry and the animals are more active.
        </p>
      </div>
    </div>
  </section>
  <!--Landing page end-->


  <!--Content 1-->
  <div class="content-1">
    <div class="text">
      <h1>History</h1>

      <p>Yala National Park is a protected area located in the southeast region of Sri Lanka. It has a long history
        dating back to the ancient kingdom of Ruhuna, which ruled the region from the 3rd century BCE to the 4th century
        CE. The park was declared a wildlife sanctuary in 1900 and was later upgraded to a national park in 1938.<br><br>

        Over the years, Yala National Park has played a significant role in the conservation of Sri Lanka's wildlife. It
        was one of the first protected areas in the country and has been instrumental in the protection of a number of
        endangered species, including the Sri Lankan elephant, the Sri Lankan leopard, and the sloth bear.<br><br>

        Today, Yala National Park is a major tourist attraction in Sri Lanka and is known for its rich wildlife and
        beautiful landscapes. It is home to a variety of animals, including elephants, leopards, and a variety of bird
        species, and is a popular destination for wildlife spotting, birdwatching, and photography.</p>

    </div>
    <button class="button-18" role="button"><a class="btn-text" href="https://www.yalasrilanka.lk/" target="_blank"> Learn More </a></button>
  </div>

  <div class="container">
    <div class="box">

      <div class="dream">
        <img src="https://www.srilankainstyle.com/storage/app/media/Experiences/Jeep%20safaris%20in%20Yala%20National%20Park/jeep-safaris-in-yala-national-park-slider-4.jpg
        ">
        <img src="https://www.holidify.com/images/cmsuploads/compressed/Entrance_Sign_-_Yala_NP_20190705073422.jpg
        ">
        <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/0b/19/dd/0c.jpg
        ">
      </div>

      <div class="dream">
        <img src="https://nationalparks-15bc7.kxcdn.com/images/parks/yala/Yala%20National%20Park%20painted%20stork.jpg
        ">
        <img src="https://images.squarespace-cdn.com/content/v1/5a2915cebff20052a88638f2/1584612450148-QYFBRNUNIKYRDFHMFKEB/peacock+yala+national+park.jpg
        ">
        <img src="https://www.srilankatravelandtourism.com/places-sri-lanka/yala/yala-images/yala-2-sri-lanka.jpg
        ">
      </div>

      <div class="dream">
        <img src="https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1295,h_720/w_80,x_15,y_15,g_south_west,l_Klook_water_br_trans_yhcmh3/activities/hyy7x0hsntupuzzckvjv/YalaNationalParkSafariExperiencefromMirissa.webp
        ">
        <img src="https://img.traveltriangle.com/blog/wp-content/uploads/2017/10/Traveler-Reviews-for-Yala-National-Park.jpg
        ">
        <img src="https://travellers.lk/wp-content/uploads/2020/05/Yala-2560X1400.jpg
        ">
      </div>


    </div>
  </div>


  <!-- Footer start -->
  <footer>
    <div class="footer-container">

      <div class="one-footer">
        <img src="../../../Assets/img/content/logo-light.png" alt="LOGO">

        <p>
          EVENTCLiX.ONLINE<br>Is a website designed to help tourist<br>discover our and
          book events and acvities in their<br>
          destination.
        </p>
      </div>

      <div class="two-footer">
        <ul>
          <li><a href="../../../index.html">Home</a></li>
          <li><a href="../../event.html">Find Info</a></li>
          <li><a href="../../gallery.html">Gallery</a></li>
          <li><a href="../../about-us.html">About Us</a></li>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
        </ul>
      </div>

      <div class="three-footer">
        <ul>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
          <li><a href="mailto:eventclix.online@gmail.com">eventclix.online@gmail.com</a></li>
          <li><a href="mailto:info@eventclix.online">info@eventclix.online</a></li>
          <li><a href="tel:+94 1912">TOURISM HOTLINE : 1912</a></li>
          <li><a href="tel:+94 11 242 1052">TOURISM POLICE +94 11 242 1052</a></li>
        </ul>
      </div>

      <div class="icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
    <hr>
    <p class=copyright> Copyright ® 2023 GROUP-100 All rights Reserved </p>
  </footer>
  <!-- Footer start -->

  </div>

  <script src="../../../Assets/JS/script.js"></script>
</body>

</html>