<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EVENTS.LK</title>
  <link rel="stylesheet" type="text/css" href="../Assets/CSS/about-us.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="../Assets/img/content/logo-light.png">
</head>
</head>
<body>

<!--Navigaion bar-->
  <section>
    <header>
      <a href="index.html" class="logo"><span>EVENTCLiX.LK</span></a>

      <ul class="navbar">
        <li><a href="../index.html">Home</a></li>
        <li><a href="event.html">Find Info</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="about-us.html">About Us</a></li>
        <li><a href="/Views/Auth/index.php">Contact Us</a></li>
      </ul>
    </header>

<!--Navigaion bar end-->


<!--Landing page-->
    <div class="content">
      <div class="info">
      <h2>About Us</h2>
      <p>Welcome to eventclix.online website! We are a group of undergraduate students at NSBM,
        passionate about organizing events that bring people together and create meaningful 
        experiences. We have been planning and executing successful events for the past few 
        years, and are excited to bring our skills and expertise to this latest venture. 
        Our goal is to create an event that is engaging, informative, and enjoyable for all attendees.
        Thank you for your interest, and we hope to see you there!
        As undergraduate students at NSBM, we have had the opportunity to learn from a diverse and accomplished faculty, as well as gain valuable hands-on experience through various projects and extracurricular activities. We believe that this has prepared us to take on the challenges and responsibilities of planning and executing a successful event. In addition to our academic and extracurricular pursuits, we are also active members of the community and have a strong commitment to giving back. Our event is just one way in which we hope to make a positive impact and contribute to the well-being of those around us. We are excited to bring together a diverse group of attendees and create a welcoming and inclusive atmosphere. Whether you are a student, professional, or member of the general public, we encourage you to come and be a part of this unique and enriching experience.</p>
      </div>
    </div>
  </section>
<!--Landing page end-->


<!--Content 1-->

  <div class="content-1">
    <div class="text">
      <h1>NSBM Green University</h1>

      <p>NSBM Green University, the nation’s premier degree-awarding institute, is the first of its kind in South Asia. It is a government-owned self-financed institute that operates under the purview of the Ministry of Education. As a leading educational centre in the country, NSBM has evolved into becoming a highly responsible higher education institute that offers unique opportunities and holistic education on par with international standards while promoting sustainable living.
        NSBM offers a plethora of undergraduate and postgraduate degree programmes under five faculties: Business, Computing, Engineering, Science and Postgraduate & Professional Advancement. These study programmes at NSBM are either its own programmes recognised by the University Grants Commission and the Ministry of Higher Education or world-class international programmes conducted in affiliation with top-ranked foreign universities such as University of Plymouth, UK, and Victoria University, Australia. 
        Focused on producing competent professionals and innovative entrepreneurs for the increasingly globalising world, NSBM nurtures its graduates to become productive citizens of society with their specialisation ranging in study fields such as Business, Management, Computing, IT, Engineering, Science, Psychology, Nursing, Interior design, Quantity Surveying, Law and Multimedia.
        Inspired by the vision of being Sri Lanka’s best-performing graduate school and being recognised internationally, NSBM currently achieves approximately 3000 new enrollments per year and houses above 11,000 students reading over 50 degree programmes under 4 faculties. Moreover, over the years, NSBM Green University has gifted the nation with 14,000+ graduates and has proved its global presence with an alumni network spread all across the world.
        Nestling on a 40-acre land amidst the greenery and serenity in Pitipana, Homagama, NSBM Green University, is an ultra-modern university complex constructed with state-of-the-art facilities and amenities that provides the perfect setting for high-quality teaching, learning and research.</p>

    </div>
    <button class="button-18" role="button"><a class="btn-text" href="https://www.nsbm.ac.lk/"> Learn More </a></button>
  </div>


<!-- Footer start -->
<footer>
  <div class="footer-container">

      <div class="one-footer">
          <img src="../Assets/img/content/logo-light.png" alt="LOGO">

          <p>  
              EVENTCLiX is a website designed to help tourist<br>discover our and 
              book events and acvities in their<br>
              destination.
          </p>
      </div>

      <div class="two-footer">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="event.html">Find Info</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="about-us.html">About Us</a></li>
            <li><a href="/Views/Auth/index.php">Contact Us</a></li>
          </ul>
      </div>

      <div class="three-footer">
          <ul>
              <li><a href="/Views/Auth/index.php">Contact Us</a></li>
              <li><a href="mailto:eventclix.online@gmail.com">EVENTCLiX.ONLINE@GMAIL.COM</a></li>
              <li><a href="../index.html">WWW.EVENTCLiX.com</a></li>
              <li><a href="tel:+94 1912">TOURISM HOTLINE : 1912</a></li>
              <li><a href="tel:+94 11 242 1052">TOURISM POLICE +94 11 242 1052</a></li>
          </ul> 
      </div>

      <div class="icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
  </div>
  <hr>
  <p class=copyright> Copyright ® 2023 GROUP-100 All rights Reserved </p>
</footer>
<!-- Footer start -->   

</div>
  

</body>
</html>