<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Art - Explore the World of Art: Paintings, Sculptures, and More</title>
  <link rel="stylesheet" type="text/css" href="../Assets/CSS/art.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="../Assets/img/content/logo-light.png">
</head>
<body>

<!--Navigaion bar-->
  <section>
    <header>
      <a href="#" class="logo"><span>EVENTCLiX.LK</span></a>

      <ul class="navbar">
        <li><a href="../index.html">Home</a></li>
        <li><a href="event.html">Find Info</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="about-us.html">About Us</a></li>
        <li><a href="/Views/Auth/index.php">Contact Us</a></li>
      </ul>
    </header>

<!--Navigaion bar end-->


<div class="content">
    <div class="info">
        <h2>Traditional Art</h2>
        <p>
            Art can be a powerful way to express oneself and connect with others. There are many different forms of art, 
            including dance, drama, painting, and more. If you're interested in exploring the world of art, you may be able 
            to find classes, workshops, and events in Srilanka that focus on specific forms of art. These could be a great way 
            to learn new skills and techniques, or just enjoy the creativity and beauty of different art forms. You can also attend 
            theater events and art exhibitions in Srilanka as a spectator, and perhaps even volunteer 
            at street shows or other performances. No matter what your interests are, there are likely many opportunities to explore 
            the world of art in Srilanka.
        </p>
    </div>
</div>
</section>


<div class="box-container">
    <div class="grid">
        <div class="box-1">
            <a target=”_blank” href="http://www.laksala.gov.lk/?product_cat=brass">Silver and brass Industry</a>
        </div>
  
        <div class="box-2">
            <a target=”_blank” href="https://ceylonhandicraft.lk/2021/06/01/traditional-laksha-industry-in-srilanka/">Laksha Industry</a>
        </div>
  
        <div class="box-3">
            <a target=”_blank” href="https://mytickets.lk/event/aluth-kalawak/821">Pottery Industry</a>
        </div>
  
        <div class="box-4">
            <a target=”_blank” href="https://lakarcade.lk/product-category/rush-reed/#:~:text=5%2C400.00-,Rush%20and%20reed%20plant%20species%20were%20once%20abundant%20in%20the,by%20a%20Sri%20Lankan%20Artisan.">Reed and Rush Industry</a>
        </div>
  
        <div class="box-5">
            <a target=”_blank” href="https://mytickets.lk/event/no-exit/799">Cane Industry</a>
        </div>
  
        <div class="box-6">
            <a target=”_blank” href="http://www.laksala.gov.lk/?product_cat=wooden">Wooden Carving</a>
        </div>
  
        <div class="box-7">
          <a target=”_blank” href="https://lakarcade.lk/product-category/handloom-textile/batik/">Batik Industry</a>
      </div>
  
      <div class="box-8">
          <a target=”_blank” href="https://www.oakraywoodcarvings.com/">Statue Carving</a>
      </div>
  
      <div class="box-9">
          <a target=”_blank” href="https://mahamevnawa.lk/">Temple Art</a>
      </div>
      </div>
  </div>
  


<!-- Footer start -->
<footer>
  <div class="footer-container">

      <div class="one-footer">
          <img src="../Assets/img/content/buddah-statue.jpg" alt="LOGO">

          <p>  
              EVENTCLiX is a website designed to help tourist<br>discover our and 
              book events and acvities in their<br>
              destination.
          </p>
      </div>

      <div class="two-footer">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="event.html">Find Info</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="about-us.html">About Us</a></li>
            <li><a href="/Views/Auth/index.php">Contact Us</a></li>
          </ul>
      </div>

      <div class="three-footer">
          <ul>
            <li><a href="/Views/Auth/index.php">Contact Us</a></li>
            <li><a href="mailto:eventclix.online@gmail.com">EVENTCLiX.ONLINE@GMAIL.COM</a></li>
            <li><a href="../index.html">WWW.EVENTCLiX.com</a></li>
            <li><a href="tel:+94 1912">TOURISM HOTLINE : 1912</a></li>
            <li><a href="tel:+94 11 242 1052">TOURISM POLICE +94 11 242 1052</a></li>
          </ul>
      </div>

      <div class="icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
  </div>
  <hr>
  <p class=copyright> Copyright ® 2023 GROUP-100 All rights Reserved </p>
</footer>
<!-- Footer start -->    


</body>
</html>