<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Concerts - Join the Party: Find the Perfect Concert for Your Taste</title>
  <link rel="stylesheet" type="text/css" href="../Assets/CSS/concert.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="../Assets/img/content/logo-light.png">
</head>
</head>
<body>

<!--Navigaion bar-->
  <section>
    <header>
      <a href="../index.html" class="logo"><span>EVENTCLiX.LK</span></a>

      <ul class="navbar">
        <li><a href="../index.html" class="active">Home</a></li>
        <li><a href="../Views/event.html">Find Events</a></li>
        <li><a href="../Views/gallery.html">Gallery</a></li>
        <li><a href="../Views/about-us.html">About Us</a></li>
        <li><a href="../Views/Auth/login.php">Register</a></li>
      </ul>
    </header>

<!--Navigaion bar end-->


<div class="content">
    <div class="info">
        <h2>Concerts in Sri Lanka</h2>
        <p>
            The nightlife in Srilanka is vibrant and full of variety, with something for everyone to enjoy. 
            Whether you are a fan of live music, gigs at cafes, or large concerts, there is always something 
            going on in the city.
            The music scene in Colombo is diverse and diverse, with a range of music events to choose from. 
            For classical music lovers, there are classical music shows and concerts, while for those who prefer
             more upbeat and energetic music, there are concerts and dance parties to enjoy no matter what your taste 
             in music, Srilanka has something to offer. 
            So if you are looking for a fun and exciting night out, be sure to check out the music events in the city. 
            You won't be disappointed!
        </p>
    </div>
</div>
</section>


<div class="box-container">
    <div class="grid">
        <div class="box-1">
            <a target=”_blank” href="https://mytickets.lk/event/stargazer/782">STARGAZER</a>
        </div>
  
        <div class="box-2">
            <a target=”_blank” href="https://mytickets.lk/event/-sangeera-/753">-SANGEERA-</a>
        </div>
  
        <div class="box-3">
            <a target=”_blank” href="https://mytickets.lk/event/aluth-kalawak/821">Aluth Kalawak</a>
        </div>
  
        <div class="box-4">
            <a target=”_blank” href="https://mytickets.lk/event/-senkadagala-live-in-concert/768">Senkadagala Live In Concert</a>
        </div>
  
        <div class="box-5">
            <a target=”_blank” href="https://mytickets.lk/event/no-exit/799">NO EXIT</a>
        </div>
  
        <div class="box-6">
            <a target=”_blank” href="https://mytickets.lk/event/live-to-love/824">LIVE TO LOVE</a>
        </div>
  
        <div class="box-7">
          <a target=”_blank” href="https://mytickets.lk/event/sankalpa-live-in-concert/820">Sankalpa Live In Concert</a>
      </div>
  
      <div class="box-8">
          <a target=”_blank” href="https://mytickets.lk/event/adare-/804">Adare</a>
      </div>
  
      <div class="box-9">
          <a target=”_blank” href="https://mytickets.lk/event/last-saturday/817">Last Saturday</a>
      </div>
      </div>
  </div>

<!-- Footer start -->
<footer>
  <div class="footer-container">

      <div class="one-footer">
          <img src="../Assets/img/content/logo-light.png" alt="LOGO">

          <p>  
              EVENTCLiX is a website designed to help tourist<br>discover our and 
              book events and acvities in their<br>
              destination.
          </p>
      </div>

      <div class="two-footer">
        <ul>
            <li><a href="../index.html" class="active">Home</a></li>
            <li><a href="../Views/event.html">Find Events</a></li>
            <li><a href="../Views/gallery.html">Gallery</a></li>
            <li><a href="../Views/about-us.html">About Us</a></li>
            <li><a href="../Views/Auth/login.php">Register</a></li>
          </ul>
      </div>

      <div class="three-footer">
          <ul>
              <li>Contact Us</li>
              <li>EVENTCLiX@gmail.com</li>
              <li>EVENTCLiX@yahoo.com</li>
              <li>WWW.EVENTCLiX.com</li>
              <li>+94 760 832 563</li>
          </ul>
      </div>

      <div class="icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
  </div>
  <hr>
  <p class=copyright> Copyright ® 2023 GROUP-100 All rights Reserved </p>
</footer>
<!-- Footer start -->    


</body>
</html>