<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EVENTS.LK</title>
  <link rel="stylesheet" type="text/css" href="/Assets/CSS/dance.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="/Assets/img/content/logo-light.png">
</head>
</head>
<body>

<!--Navigaion bar-->
  <section>
    <header>
      <a href="#" class="logo"><span>EVENTCLiX.LK</span></a>

      <ul class="navbar">
        <li><a href="/index.html" class="active">Home</a></li>
        <li><a href="/Views/event.html">Find Events</a></li>
        <li><a href="/Views/gallery.html">Gallery</a></li>
        <li><a href="/Views/about-us.html">About Us</a></li>
        <li><a href="/Views/Auth/login.php">Register</a></li>
      </ul>
    </header>

<!--Navigaion bar end-->


<div class="content">
    <div class="info">
        <h2>Sri Lankan Dances</h2>
        <p>
            Dance events can be a great way to experience different styles of dance and see live performances. 
            If you're interested in attending dance events in Srilanka, you may be able to find a variety of options 
            to choose from. These could include performances by professional dancers, dance competitions, or workshops 
            where you can learn new techniques and styles. Depending on your interests, you might be able to find events 
            focused on specific dance styles such as hip hop, jazz, contemporary, 
            or Bollywood. Attending dance events can be a fun and exciting way to learn more about the world of dance and 
            maybe even discover a new passion
        </p>
    </div>
</div>
</section>


<div class="box-container">
    <div class="grid">
        <div class="box-1">
            <a target=”_blank” href="https://disco.teak.fi/asia/the-kandyan-dances/">Kandyan Dance</a>
        </div>
  
        <div class="box-2">
            <a target=”_blank” href="https://lk.lakpura.com/pages/low-country-dance#:~:text=This%20form%20of%20dance%20is,%2C%20demons%2C%20reptiles%2C%20etc.">Pahatharata Natum</a>
        </div>
  
        <div class="box-3">
            <a target=”_blank” href="https://lk.lakpura.com/pages/sabaragamuwa-dance">Sabaragamuwa Dance</a>
        </div>
  
        <div class="box-4">
            <a target=”_blank” href="https://www.srilankanmask.com/handicraft-exports-stats/traditional-devil-dances">Devil Dance</a>
        </div>
  
        <div class="box-5">
            <a target=”_blank” href="https://www.srilankalocaltours.com/5-sri-lanka-traditional-dances/">Folk Dance</a>
        </div>
  
        <div class="box-6">
            <a target=”_blank” href="https://en.wikipedia.org/wiki/Dance_in_Sri_Lanka">Naiyandi Dance</a>
        </div>
  
        <div class="box-7">
          <a target=”_blank” href="https://www.timeout.com/sri-lanka/things-to-do/the-ves-dancers-an-expression-of-sri-lankan-culture">Ves Dance</a>
      </div>
  
      <div class="box-8">
          <a target=”_blank” href="https://www.youtube.com/watch?v=6yq4uCSg6Y4">Pantheru Dance</a>
      </div>
  
      <div class="box-9">
          <a target=”_blank” href="https://www.inspiringvacations.com/us/sri-lanka-tours/experience-articles/snapshot-cultural-dance-shows/6669">Udekki Dance</a>
      </div>
      </div>
  </div>
  


<!-- Footer start -->
<footer>
  <div class="footer-container">

      <div class="one-footer">
          <img src="../content/logo-light.png" alt="LOGO">

          <p>  
              EVENTCLiX is a website designed to help tourist<br>discover our and 
              book events and acvities in their<br>
              destination.
          </p>
      </div>

      <div class="two-footer">
        <ul>
            <li><a href="/index.html" class="active">Home</a></li>
            <li><a href="/Views/event.html">Find Events</a></li>
            <li><a href="/Views/gallery.html">Gallery</a></li>
            <li><a href="/Views/about-us.html">About Us</a></li>
            <li><a href="/Views/contact-us.html">Contact Us</a></li>
          </ul>
      </div>

      <div class="three-footer">
          <ul>
              <li>Contact Us</li>
              <li>EVENTCLiX@gmail.com</li>
              <li>EVENTCLiX@yahoo.com</li>
              <li>WWW.EVENTCLiX.com</li>
              <li>+94 760 832 563</li>
          </ul>
      </div>

      <div class="icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
  </div>
  <hr>
  <p class=copyright> Copyright ® 2023 Eventclix All rights Reserved </p>
</footer>
<!-- Footer start -->    


</body>
</html>