<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EVENTS.LK</title>
  <link rel="stylesheet" type="text/css" href="/Assets/CSS/event.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="content/logo-light.png">
</head>
</head>
<body>

<!--Navigaion bar-->
  <section>
    <header>
      <a href="1.html" class="logo"><span>EVENTCLiX.LK</span></a>

      <ul class="navbar">
        <li><a href="/index.html" class="active">Home</a></li>
        <li><a href="/Views/event.html">Find Events</a></li>
        <li><a href="/Views/gallery.html">Gallery</a></li>
        <li><a href="/Views/about-us.html">About Us</a></li>
        <li><a href="/Views/Auth/login.php">Register</a></li>
      </ul>
    </header>
</section>

<!--Navigaion bar end-->


<!--search bar -->

<div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm">
       <button type="submit" class="searchButton">
         <i class="fa fa-search"></i>
      </button>
    </div>
 </div>

 <!--search bar End-->



<!--boxes-->

<div class="box-container">
    <div class="grid">
        <div class="box-1">
            <a href="event inside/sports.html">Sports</a>
        </div>

        <div class="box-2">
            <a href="event inside/festival.html">Festivals</a>
        </div>

        <div class="box-3">
            <a href="event inside/concert.html">Concerts</a>
        </div>

        <div class="box-4">
            <a href="event inside/food.html">Foods & Drinks</a>
        </div>

        <div class="box-5">
            <a href="event inside/travel.html">Travel & Adventure</a>
        </div>

        <div class="box-6">
            <a href="event inside/hack.html">Hackathons</a>
        </div>

        <div class="box-7">
            <a href="event inside/dance.html">Dance</a>
        </div>

        <div class="box-8">
            <a href="event inside/fashion.html">Fashion</a>
        </div>

        <div class="box-9">
            <a href="event inside/art.html">Art</a>
        </div>
    </div>
</div>

<!--boxes End-->

<!-- Footer start -->
<footer>
    <div class="footer-container">

        <div class="one-footer">
            <img src="content/logo-light.png" alt="LOGO">

            <p>  
                EVENTCLiX is a website designed to help tourist<br>discover our and 
                book events and acvities in their<br>
                destination.
            </p>
        </div>

        <div class="two-footer">
            <ul>
                <li><a href="1.html" class="active">Home</a></li>
                <li><a href="#">Find Events</a></li>
                <li><a href="gallery-our/gallery2.html">Gallery</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>

        <div class="three-footer">
            <ul>
                <li>Contact Us</li>
                <li>EVENTCLiX@gmail.com</li>
                <li>EVENTCLiX@yahoo.com</li>
                <li>WWW.EVENTCLiX.com</li>
                <li>+94 760 832 563</li>
            </ul>
        </div>

        <div class="icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
    <hr>
    <p class=copyright> Copyright ® 2023 Eventclix All rights Reserved </p>
</footer>
<!-- Footer start -->    



</body>
</html>
