<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EVENTS.LK</title>
  <link rel="stylesheet" type="text/css" href="/Assets/CSS/fashion.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="/Assets/img/content/logo-light.png">
</head>
</head>
<body>

<!--Navigaion bar-->
  <section>
    <header>
      <a href="/index.html" class="logo"><span>EVENTCLiX.LK</span></a>

      <ul class="navbar">
        <li><a href="/index.html" class="active">Home</a></li>
        <li><a href="/Views/event.html">Find Events</a></li>
        <li><a href="/Views/gallery.html">Gallery</a></li>
        <li><a href="/Views/about-us.html">About Us</a></li>
        <li><a href="/Views/Auth/login.php">Register</a></li>
      </ul>
    </header>

<!--Navigaion bar end-->


<div class="content">
    <div class="info">
        <h2>Fashion in Sri Lanka</h2>
        <p>
            If you're interested in fashion, there are likely many events in Colombo that will be of interest to you. 
            Fashion shows and runways can be a great way to see the latest designs and trends from top designers and brands.
            You might also be able to find exhibitions and fashion nights that showcase the work of local designers or provide 
            opportunities to network with others in the fashion industry. Attending these events can be a great way to stay 
            up-to-date on the latest trends and perhaps even find some new fashion inspiration. Whether you're a fashion enthusiast, 
            a designer, or just someone who loves to stay stylish, there are likely many fashion events in Srilanka that will be 
            of interest to you.
        </p>
    </div>
</div>
</section>


<div class="box-container">
    <div class="grid">
        <div class="box-1">
            <a target=”_blank” href="https://laveena.lk/">Saree</a>
        </div>
  
        <div class="box-2">
            <a target=”_blank” href="https://www.lovisarongs.com/products/ladies-sri-lankan-national-silk-lama-sariya">Lama Sariya</a>
        </div>
  
        <div class="box-3">
            <a target=”_blank” href="https://twinklebunnies.com/product/sri-lankan-batik-redda-hatte/">Redde And Hatte</a>
        </div>
  
        <div class="box-4">
            <a target=”_blank” href="https://whoweare.lk/product-category/fashion/mens/sarongs-mens/">Sarong</a>
        </div>
  
        <div class="box-5">
            <a target=”_blank” href="https://www.flickr.com/photos/8586609@N04/2168622211">National Dress</a>
        </div>
  
        <div class="box-6">
            <a target=”_blank” href="https://www.pinterest.com/Ritzy123m/kandyan-bridal-sri-lanka/">Kandyan Dress</a>
        </div>
  
        <div class="box-7">
          <a target=”_blank” href="https://www.leezaabridal.com/">Wedding Dress</a>
      </div>
  
      <div class="box-8">
          <a target=”_blank” href="http://lanka.co/product/sri-lankan-hand-made-batik-dress/">Bathik Dress</a>
      </div>
  
      <div class="box-9">
          <a target=”_blank” href="https://gflock.lk/">Denim</a>
      </div>
      </div>
  </div>
  


<!-- Footer start -->
<footer>
  <div class="footer-container">

      <div class="one-footer">
          <img src="/Assets/img/content/logo-light.png" alt="LOGO">

          <p>  
              EVENTCLiX is a website designed to help tourist<br>discover our and 
              book events and acvities in their<br>
              destination.
          </p>
      </div>

      <div class="two-footer">
        <ul>
            <li><a href="/index.html" class="active">Home</a></li>
            <li><a href="/Views/event.html">Find Events</a></li>
            <li><a href="/Views/gallery.html">Gallery</a></li>
            <li><a href="/Views/about-us.html">About Us</a></li>
            <li><a href="/Views/contact-us.html">Contact Us</a></li>
          </ul>
      </div>

      <div class="three-footer">
          <ul>
              <li>Contact Us</li>
              <li>EVENTCLiX@gmail.com</li>
              <li>EVENTCLiX@yahoo.com</li>
              <li>WWW.EVENTCLiX.com</li>
              <li>+94 760 832 563</li>
          </ul>
      </div>

      <div class="icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
  </div>
  <hr>
  <p class=copyright> Copyright ® 2023 GROUP-100 All rights Reserved </p>
</footer>
<!-- Footer start -->    


</body>
</html>