<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Festivals - Discover Something New: Unique and Unforgettable Festivals</title>
    <link rel="stylesheet" type="text/css" href="../Assets/CSS/festival.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../Assets/img/content/logo-dark.png" media="(prefers-color-scheme: light)">
    <link rel="icon" href="../Assets/img/content/logo-light.png" media="(prefers-color-scheme: dark)">
</head>
</head>

<body>

    <!--Navigaion bar-->
    <section>
        <header>
            <a href="../index.html" class="logo"><span>EVENTCLiX.ONLINE</span></a>

            <button class="menu-button" id="menu-button" onclick="toggleNav()">&#9776;</button>
            <nav class="navbar">
                <a href="/index.html">Home</a>
                <a href="/Views/event.html">Find Info</a>
                <a href="/Views/gallery.html">Gallery</a>
                <a href="/Views/about-us.html">About Us</a>
                <a href="/Views/Auth/index.php">Contact Us</a>
            </nav>
        </header>

        <!--Navigaion bar end-->


        <div class="content">
            <div class="info">
                <h2>Festivals in Sri Lanka</h2>
                <p>
                    Festivals can be a great way to have fun, experience local culture, and make new memories
                    with friends and family. Srilanka likely has a wide variety of festivals to choose from,
                    ranging from music festivals to food festivals and more. Whether you're looking for a beach
                    party or a more laid-back event, there's likely something for everyone. Attending festivals
                    can be a great way to immerse yourself in the local culture and vibe, and perhaps even discover
                    new interests or passions. No matter what your tastes are, there are likely many festivals in
                    Srilanka that will provide a fun and memorable experience.
                </p>
            </div>
        </div>
    </section>


    <div class="box-container">
        <div class="grid">
            <div class="box-1">
                <a target=”_blank” href="https://www.ceylonexpeditions.com/sinhala-tamil-new-sri-lanka">Sinhala and
                    Tamil New Year</a>
            </div>

            <div class="box-2">
                <a target=”_blank”
                    href="https://www.tourslanka.com/events-festivals/vesak-poya-the-festival-of-lights/">Vesak Poya</a>
            </div>

            <div class="box-3">
                <a target=”_blank” href="https://nexttravelsrilanka.com/thai-pongal/">Pongal</a>
            </div>

            <div class="box-4">
                <a target=”_blank” href="https://nationaltoday.com/national-day-sri-lanka/">National Day</a>
            </div>

            <div class="box-5">
                <a target=”_blank” href="https://nexttravelsrilanka.com/maha-shivaratri/">Maha Shivaratri Day</a>
            </div>

            <div class="box-6">
                <a target=”_blank”
                    href="https://www.ceylontours.com/news-events/november--diwali-deepavali-festival/">Diwali</a>
            </div>

            <div class="box-7">
                <a target=”_blank” href="https://kelaniyatemple.lk/the-duruthu-perahera-and-festival/">Duruthu
                    Perahera</a>
            </div>

            <div class="box-8">
                <a target=”_blank” href="https://ceylonpages.lk/monaragala/event/kataragama-esala-festival/">Kataragama
                    Festival</a>
            </div>

            <div class="box-9">
                <a target=”_blank” href="https://www.timeout.com/sri-lanka/things-to-do/navam-perahera">Navam
                    Perahera</a>
            </div>
        </div>
    </div>


    <!-- Footer start -->
    <footer>
        <div class="footer-container">

            <div class="one-footer">
                <img src="../Assets/img/content/logo-light.png" alt="LOGO">

                <p>
                    EVENTCLiX.ONLINE<br>Is a website designed to help tourist<br>discover our and
                    book events and acvities in their<br>
                    destination.
                </p>
            </div>

            <div class="two-footer">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="event.html">Find Info</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="/Views/Auth/index.php">Contact Us</a></li>
                </ul>
            </div>

            <div class="three-footer">
                <ul>
                    <li><a href="/Views/Auth/index.php">Contact Us</a></li>
                    <li><a href="mailto:eventclix.online@gmail.com">eventclix.online@gmail.com</a></li>
                    <li><a href="../index.html">www.eventclix.online</a></li>
                    <li><a href="tel:+94 1912">TOURISM HOTLINE : 1912</a></li>
                    <li><a href="tel:+94 11 242 1052">TOURISM POLICE +94 11 242 1052</a></li>
                </ul>
            </div>

            <div class="icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
        <hr>
        <p class=copyright> Copyright ® 2023 GROUP-100 All rights Reserved </p>
    </footer>
    <!-- Footer start -->

    <script src="../Assets/JS/script.js"></script>
</body>

</html>