<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EVENTS.LK</title>
  <link rel="stylesheet" type="text/css" href="../Assets/CSS/register.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="content/logo-light.png">
</head>
</head>
<body>

<!--Navigaion bar-->
  <section>
    <header>
      <a href="1.html" class="logo"><span>EVENTCLiX.LK</span></a>

      <ul class="navbar">
        <li><a href="../index.html" class="active">Home</a></li>
        <li><a href="event.html">Find Events</a></li>
        <li><a href="gallery2.html">Gallery</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="Auth/login.php">Register</a></li>
      </ul>
    </header>

<!--Navigaion bar end-->


<div class="content">
  <div class="info">
      <h2>Register Your Event</h2>
      <p>
        To publish an event, you'll need to provide some basic information about the event, 
        including the name, date and time, location, and any other relevant details. You'll 
        also need to consider who your target audience is and how you'll reach them. Some key 
        steps to follow when publishing your event. Choose a clear and descriptive name for your 
        event. This will help attract the right audience and give people an idea of what to expect. 
        Set a date and time that works for your target audience and any involved parties, such as 
        speakers or performers. Consider factors like work schedules and competing events when selecting a date. 
        Choose a location that is accessible and appropriate for your event. Consider factors like size, parking, 
        and accessibility for attendees.
      </p>
  </div>
</div>
</section>

<div class="back">
<div class="all-butn">
  <div class="butn">
      <button>
          <a href="#">Click to Create Event</a>
      </button>
  </div>
</div>
</div>


<!-- Footer start -->
<footer>
  <div class="footer-container">

      <div class="one-footer">
          <img src="content/logo-light.png" alt="LOGO">

          <p>  
              EVENTCLiX is a website designed to help tourist<br>discover our and 
              book events and acvities in their<br>
              destination.
          </p>
      </div>

      <div class="two-footer">
          <ul>
            <li><a href="1.html" class="active">Home</a></li>
            <li><a href="event.html">Find Events</a></li>
            <li><a href="gallery-our/gallery2.html">Gallery</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
      </div>

      <div class="three-footer">
          <ul>
              <li>Contact Us</li>
              <li>EVENTCLiX@gmail.com</li>
              <li>EVENTCLiX@yahoo.com</li>
              <li>WWW.EVENTCLiX.com</li>
              <li>+94 760 832 563</li>
          </ul>
      </div>

      <div class="icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
  </div>
  <hr>
  <p class=copyright> Copyright ® 2023 Eventclix All rights Reserved </p>
</footer>
<!-- Footer End -->    

</body>
</html>




