<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sports - Find Your Passion</title>
  <link rel="stylesheet" type="text/css" href="../Assets/CSS/sports.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../Assets/img/content/logo-dark.png" media="(prefers-color-scheme: light)">
  <link rel="icon" href="../Assets/img/content/logo-light.png" media="(prefers-color-scheme: dark)">
</head>
</head>

<body>

  <!--Navigaion bar-->
  <section>
    <header>
      <a href="/index.html" class="logo"><span>EVENTCLiX.ONLINE</span></a>

      <button class="menu-button" id="menu-button" onclick="toggleNav()">&#9776;</button>
      <nav class="navbar">
        <a href="/index.html">Home</a>
        <a href="/Views/event.html">Find Info</a>
        <a href="/Views/gallery.html">Gallery</a>
        <a href="/Views/about-us.html">About Us</a>
        <a href="/Views/Auth/index.php">Contact Us</a>
      </nav>
    </header>

    <!--Navigaion bar end-->


    <div class="content">
      <div class="info">
        <h2>Sports in Sri Lanka</h2>
        <p>
          Sports are a great way to improve our physical and mental
          well-being, and can provide a sense of accomplishment and
          purpose. Whether you are an athlete competing at the highest
          level or just looking to stay active and healthy, sports can
          help you achieve your goals.
          Participating in sports can also help build character and
          develop important life skills such as teamwork, discipline,
          and sportsmanship. It can also be a fun and social activity,
          providing an opportunity to make new friends and be part of a
          community. In addition to the physical benefits, sports can also
          have a positive impact on mental health. Exercise has been shown
          to reduce stress, improve mood, and increase self-esteem, and
          participating in sports can provide a sense of accomplishment and
          purpose.
        </p>
      </div>
    </div>
  </section>


  <div class="box-container">
    <div class="grid">
      <div class="box-1">
        <a target=”_blank” href="/Views/info-sites/sports-c/angampora.html">Angampora</a>
      </div>

      <div class="box-2">
        <a target=”_blank” href="/Views/info-sites/sports-c/cricket.html">Cricket</a>
      </div>

      <div class="box-3">
        <a target=”_blank” href="/Views/info-sites/sports-c/volleyball.html">Volleyball</a>
      </div>

      <div class="box-4">
        <a target=”_blank” href="/Views/info-sites/sports-c/rugby.html">Rugby</a>
      </div>

      <div class="box-5">
        <a target=”_blank” href="/Views/info-sites/sports-c/netball.html">Netball</a>
      </div>

      <div class="box-6">
        <a target=”_blank” href="/Views/info-sites/sports-c/badminton.html">Badminton</a>
      </div>

      <div class="box-7">
        <a target=”_blank” href="/Views/info-sites/sports-c/athletics.html">Athletic</a>
      </div>

      <div class="box-8">
        <a target=”_blank” href="/Views/info-sites/sports-c/basketball.html">Basketball</a>
      </div>

      <div class="box-9">
        <a target=”_blank” href="/Views/info-sites/sports-c/swimming.html">Swimming</a>
      </div>
    </div>
  </div>


  <!-- Footer start -->
  <footer>
    <div class="footer-container">

      <div class="one-footer">
        <img src="../Assets/img/content/logo-light.png" alt="LOGO">

        <p>
          EVENTCLiX.ONLINE<br>Is a website designed to help tourist<br>discover our and
          book events and acvities in their<br>
          destination.
        </p>
      </div>

      <div class="two-footer">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="event.html">Find Info</a></li>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="about-us.html">About Us</a></li>
          <li><a href="/Views/Auth/index.php">Contact Us</a></li>
        </ul>
      </div>

      <div class="three-footer">
        <ul>
          <li><a href="/Views/Auth/index.php">Contact Us</a></li>
          <li><a href="mailto:info@eventclix.online">info@eventclix.online</a></li>
          <li><a href="../index.html">www.eventclix.online</a></li>
          <li><a href="tel:+94 1912">TOURISM HOTLINE : 1912</a></li>
          <li><a href="tel:+94 11 242 1052">TOURISM POLICE +94 11 242 1052</a></li>
        </ul>
      </div>

      <div class="icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
    <hr>
    <p class=copyright> Copyright ® 2023 GROUP-100 All rights Reserved </p>
  </footer>
  <!-- Footer End -->

  <script src="../Assets/JS/script.js"></script>
</body>

</html>