<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Srilanka - Escape the Everyday: Getaways and Vacation Ideas</title>
  <link rel="stylesheet" type="text/css" href="../Assets/CSS/travel.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="../Assets/img/content/logo-light.png">
</head>
</head>
<body>

<!--Navigaion bar-->
  <section>
    <header>
      <a href="../index.html" class="logo"><span>EVENTCLiX.LK</span></a>

      <ul class="navbar">
        <li><a href="../index.html">Home</a></li>
        <li><a href="event.html">Find Info</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="about-us.html">About Us</a></li>
        <li><a href="/Views/Auth/index.php">Contact Us</a></li>
      </ul>
    </header>

<!--Navigaion bar end-->


<div class="content">
    <div class="info">
        <h2>Travel & Adventure </h2>
        <p>
            It sounds like you have a lot of options for satisfying your food cravings and exploring new flavors in Colombo. 
            Food fairs, festivals, and food truck events can be a great way to try a variety of dishes and discover new favorite foods. 
            Cooking and baking workshops can also be a fun and educational way to learn new skills and techniques in the kitchen. 
            If you're a caffeine lover, you might also want to check out some of the coffee shops or cafes in Colombo for a delicious 
            cup of coffee or espresso. 
            No matter what your food preferences are, there's sure to be something in Srilanka that will satisfy your cravings and keep 
            your taste buds happy.
        </p>
    </div>
</div>
</section>


<div class="box-container">
    <div class="grid">
        <div class="box-1">
            <a target=”_blank” href="https://sigiriyafortress.com/">Sigiriya</a>
        </div>
  
        <div class="box-2">
            <a target=”_blank” href="https://traveltriangle.com/blog/places-to-visit-in-nuwara-eliya/">Nuwara Eliya</a>
        </div>
  
        <div class="box-3">
            <a target=”_blank” href="https://www.thrillophilia.com/destinations/ella/places-to-visit">Ella</a>
        </div>
  
        <div class="box-4">
            <a target=”_blank” href="https://www.saltinourhair.com/sri-lanka/mirissa/">Mirissa</a>
        </div>
  
        <div class="box-5">
            <a target=”_blank” href="https://www.roughguides.com/sri-lanka/south/galle/">Galle</a>
        </div>
  
        <div class="box-6">
            <a target=”_blank” href="https://www.britannica.com/topic/World-Heritage-site">Kandy</a>
        </div>
  
        <div class="box-7">
          <a target=”_blank” href="https://www.saltinourhair.com/sri-lanka/yala-national-park/">Yala National Park</a>
      </div>
  
      <div class="box-8">
          <a target=”_blank” href="https://www.charlotteplansatrip.com/en/sri-lanka-en/adams-peak/">Adam's Peak</a>
      </div>
  
      <div class="box-9">
          <a target=”_blank” href="https://www.tourslanka.com/things-to-do/situated-in-polonnaruwa/">Polonnaruwa</a>
      </div>
      </div>
  </div>
  

<!-- Footer start -->
<footer>
  <div class="footer-container">

      <div class="one-footer">
          <img src="../Assets/img/content/logo-light.png" alt="LOGO">

          <p>  
              EVENTCLiX is a website designed to help tourist<br>discover our and 
              book events and acvities in their<br>
              destination.
          </p>
      </div>

      <div class="two-footer">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="event.html">Find Info</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="about-us.html">About Us</a></li>
            <li><a href="/Views/Auth/index.php">Contact Us</a></li>
          </ul>
      </div>

      <div class="three-footer">
          <ul>
            <li><a href="/Views/Auth/index.php">Contact Us</a></li>
            <li><a href="mailto:eventclix.online@gmail.com">EVENTCLiX.ONLINE@GMAIL.COM</a></li>
            <li><a href="../index.html">WWW.EVENTCLiX.com</a></li>
            <li><a href="tel:+94 1912">TOURISM HOTLINE : 1912</a></li>
            <li><a href="tel:+94 11 242 1052">TOURISM POLICE +94 11 242 1052</a></li>
          </ul>
      </div>

      <div class="icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
  </div>
  <hr>
  <p class=copyright> Copyright ® 2023 Eventclix All rights Reserved </p>
</footer>
<!-- Footer start -->    


</body>
</html>