<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventclix.Online - Badminton</title>
  <link rel="stylesheet" type="text/css" href="../../../Assets/CSS/info-css/sports-c/badmintion.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../../../Assets/img/content/logo-dark.png" media="(prefers-color-scheme: light)">
  <link rel="icon" href="../../../Assets/img/content/logo-light.png" media="(prefers-color-scheme: dark)">
</head>
</head>

<body>

  <!--Navigaion bar-->
  <section>
    <header>
      <a href="../../../index.html" class="logo"><span>EVENTCLiX.ONLINE</span></a>

      <button class="menu-button" id="menu-button" onclick="toggleNav()">&#9776;</button>
      <nav class="navbar">
        <a href="../../../index.html">Home</a>
        <a href="../../event.html">Find Info</a>
        <a href="../../gallery.html">Gallery</a>
        <a href="../../about-us.html">About Us</a>
        <a href="../../Auth/index.php">Contact Us</a>
      </nav>
    </header>

    <!--Navigaion bar end-->


    <!--Landing page-->
    <div class="content">
      <div class="info">
        <h2>badmintion</h2>
        <p>Badminton is a popular sport in Sri Lanka, with many people playing the game at various levels, from amateur
          to professional. The sport is played on a rectangular court, with players using rackets to hit a shuttlecock
          back and forth over a high net. The objective of the game is to hit the shuttlecock in such a way that the
          opposing player is unable to return it, and to score points by landing the shuttlecock within the boundaries
          of the court.<br><br>

          Badminton is played by both men and women in Sri Lanka, and the sport is popular among people of all ages. The
          Sri Lanka Badminton Association is the national governing body for the sport in the country, and it is
          responsible for organizing and promoting badminton at all levels. There are many badminton clubs and
          facilities throughout Sri Lanka, where people can play the game and participate in organized tournaments and
          competitions. In addition to amateur play, there is also a professional badminton circuit in Sri Lanka, with
          many talented players competing at the national and international level.</p>
      </div>
    </div>
  </section>
  <!--Landing page end-->


  <!--Content 1-->
  <div class="content-1">
    <div class="text">
      <h1>History</h1>

      <p>Badminton has a long history in Sri Lanka, with the game having been introduced to the country in the early
        20th century. It is believed that the first badminton club in Sri Lanka was established in Colombo in 1922, and
        the sport quickly gained popularity among people of all ages and skill levels. In the decades that followed,
        badminton in Sri Lanka continued to grow and develop, with many people playing the game at amateur and
        professional levels.<br><br>

        The Sri Lanka Badminton Association, the national governing body for the sport in the country, was established
        in 1952, and it has played a key role in promoting and organizing badminton at all levels in Sri Lanka. Over the
        years, the association has organized many tournaments and competitions, both at the national and international
        level, and has helped to nurture the development of many talented badminton players. Today, badminton remains a
        popular sport in Sri Lanka, with many people playing the game and participating in organized tournaments and
        competitions at all levels.<br><br>Badminton made its debut as a demonstration sport at the 1972 Olympic Games in
        Munich. It was not until the 1992 Games in Barcelona that it was officially included on the Olympic programme,
        with men’s and women’s singles and doubles events. The mixed doubles event made its debut in 1996 at the Atlanta
        Olympic Games. Since then, the number of events has remained unchanged.

        Although the creation of modern badminton is attributed to England, it is Asia that now dominates this sport.
        Between 1992 and 2008, Asian countries won 69 of the 76 medals available in Olympic competition! The dominant
        countries are China, Indonesia and the Republic of Korea, followed by Great Britain and Denmark.</p>

    </div>
    <button class="button-18" role="button"><a class="btn-text" href="https://mba.lk/" target="_blank"> Learn
        More </a></button>
  </div>

  <div class="container">
    <div class="box">

      <div class="dream">
        <img src="http://www.sundaytimes.lk/191208/uploads/Badminton.jpg">
        <img src="https://cdn.dmcl.biz/media/image/7157/o/GettyImages-149525514.jpg">
        <img src="https://www.dailynews.lk/sites/default/files/news/2021/11/08/15-Western.jpg">
      </div>

      <div class="dream">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS86kpkaAui7LgB2vqmSrH9CjGS9SsDV_KluA&usqp=CAU">
        <img src="https://www.dailynews.lk/sites/default/files/news/2022/05/31/pg16-5.jpg">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDOQvFg-XTzv6I_9m59-216xC6OdPdFK1HQA&usqp=CAU">
      </div>

      <div class="dream">
        <img src="https://olympic.lk/uploads/photo/51516657586007.jpg">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVuUTqK2_2cQmjh8RKm5ktG19L-HW78vCaZfNRzhA6BHUpn4MMjfo7gw1e0z7dMwby15c&usqp=CAU">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZM1urwoq4hawKCuVT7eEkz9N1zD-pgE-1tA&usqp=CAU">
      </div>


    </div>
  </div>


  <!-- Footer start -->
  <footer>
    <div class="footer-container">

      <div class="one-footer">
        <img src="../../../Assets/img/content/logo-light.png" alt="LOGO">

        <p>
          EVENTCLiX.ONLINE<br>Is a website designed to help tourist<br>discover our and
          book events and acvities in their<br>
          destination.
        </p>
      </div>

      <div class="two-footer">
        <ul>
          <li><a href="../../../index.html">Home</a></li>
          <li><a href="../../event.html">Find Info</a></li>
          <li><a href="../../gallery.html">Gallery</a></li>
          <li><a href="../../about-us.html">About Us</a></li>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
        </ul>
      </div>

      <div class="three-footer">
        <ul>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
          <li><a href="mailto:eventclix.online@gmail.com">eventclix.online@gmail.com</a></li>
          <li><a href="mailto:info@eventclix.online">info@eventclix.online</a></li>
          <li><a href="tel:+94 1912">TOURISM HOTLINE : 1912</a></li>
          <li><a href="tel:+94 11 242 1052">TOURISM POLICE +94 11 242 1052</a></li>
        </ul>
      </div>

      <div class="icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
    <hr>
    <p class=copyright> Copyright ® 2023 GROUP-100 All rights Reserved </p>
  </footer>
  <!-- Footer start -->

  </div>

  <script src="../../../Assets/JS/script.js"></script>
</body>

</html>