<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventclix.Online - Basketball</title>
  <link rel="stylesheet" type="text/css" href="../../../Assets/CSS/info-css/sports-c/basketball.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../../../Assets/img/content/logo-dark.png" media="(prefers-color-scheme: light)">
  <link rel="icon" href="../../../Assets/img/content/logo-light.png" media="(prefers-color-scheme: dark)">
</head>
</head>

<body>

  <!--Navigaion bar-->
  <section>
    <header>
      <a href="../../../index.html" class="logo"><span>EVENTCLiX.ONLINE</span></a>

      <button class="menu-button" id="menu-button" onclick="toggleNav()">&#9776;</button>
      <nav class="navbar">
        <a href="../../../index.html">Home</a>
        <a href="../../event.html">Find Info</a>
        <a href="../../gallery.html">Gallery</a>
        <a href="../../about-us.html">About Us</a>
        <a href="../../Auth/index.php">Contact Us</a>
      </nav>
    </header>

    <!--Navigaion bar end-->


    <!--Landing page-->
    <div class="content">
      <div class="info">
        <h2>Basketball</h2>
        <p>Basketball is a popular sport in Sri Lanka, with many people playing the game at various levels, from amateur
          to professional. The sport is played on a rectangular court, with two teams of five players each trying to
          score points by shooting a ball through a hoop. The objective of the game is to outscore the opposing team by
          shooting the ball through the hoop more often than they do.<br><br>

          Basketball is played by both men and women in Sri Lanka, and the sport is popular among people of all ages.
          The Sri Lanka Basketball Federation is the national governing body for the sport in the country, and it is
          responsible for organizing and promoting basketball at all levels. There are many basketball courts and
          facilities throughout Sri Lanka, where people can play the game and participate in organized tournaments and
          competitions. In addition to amateur play, there is also a professional basketball league in Sri Lanka, with
          many talented players competing at the national and international level.</p>
      </div>
    </div>
  </section>
  <!--Landing page end-->


  <!--Content 1-->
  <div class="content-1">
    <div class="text">
      <h1>History</h1>

      <p>Basketball has a relatively short history in Sri Lanka compared to other sports, but it has gained popularity
        in recent decades. The sport was introduced to Sri Lanka in the early 20th century by American missionaries, who
        used it as a way to promote physical activity and education among young people. In the years that followed,
        basketball continued to grow in popularity in Sri Lanka, with many people playing the game at amateur and
        professional levels.<br><br>

        The Sri Lanka Basketball Federation, the national governing body for the sport in the country, was established
        in 1980, and it has played a key role in promoting and organizing basketball at all levels in Sri Lanka. Over
        the years, the federation has organized many tournaments and competitions, both at the national and
        international level, and has helped to nurture the development of many talented basketball players.<br><br> Today,
        basketball remains a popular sport in Sri Lanka, with many people playing the game and participating in
        organized tournaments and competitions at all levels.</p>

    </div>
    <button class="button-18" role="button"><a class="btn-text" href="https://www.insidethegames.biz/articles/1127941/sri-lanka-asian-netball-championships-22" target="_blank"> Learn
        More </a></button>
  </div>

  <div class="container">
    <div class="box">

      <div class="dream">
        <img src="https://www.srilankasports.com/wp-content/uploads/2022/09/basketball-women-srilanka-678x381.jpg">
        <img src="http://www.sundaytimes.lk/211107/uploads/21.jpg">
        <img src="https://www.fiba.basketball/images.fiba.com/Graphic/D/31/Hru1yl3c5UqnX99rMmMHdQ.jpg?v=1648210850">
      </div>

      <div class="dream">
        <img src="http://s3.amazonaws.com/bizenglish/wp-content/uploads/2019/02/19113356/unnamed-4.jpg">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5_fZVVh31fkP4bq8wRhSBGxK6LdniRYPLnQ&usqp=CAU">
        <img src="http://island.lk/wp-content/uploads/2022/09/SABA.png">
      </div>

      <div class="dream">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_qWr40XXgIZQ3F8TJtMnbOVHP-eA-hvcwuSmrnI1px-wDaNt-Fei1jNemedQv3uSerFw&usqp=CAU">
        <img src="https://images.pexels.com/photos/2834917/pexels-photo-2834917.jpeg?auto=compress&cs=tinysrgb&w=600">
        <img
          src="https://img.olympicchannel.com/images/image/private/f_auto/t_s_pog_staticContent_hero_lg/primary/pqvpdkgcrt13pyoxbsxa">
      </div>


    </div>
  </div>


  <!-- Footer start -->
  <footer>
    <div class="footer-container">

      <div class="one-footer">
        <img src="../../../Assets/img/content/logo-light.png" alt="LOGO">

        <p>
          EVENTCLiX.ONLINE<br>Is a website designed to help tourist<br>discover our and
          book events and acvities in their<br>
          destination.
        </p>
      </div>

      <div class="two-footer">
        <ul>
          <li><a href="../../../index.html">Home</a></li>
          <li><a href="../../event.html">Find Info</a></li>
          <li><a href="../../gallery.html">Gallery</a></li>
          <li><a href="../../about-us.html">About Us</a></li>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
        </ul>
      </div>

      <div class="three-footer">
        <ul>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
          <li><a href="mailto:eventclix.online@gmail.com">eventclix.online@gmail.com</a></li>
          <li><a href="mailto:info@eventclix.online">info@eventclix.online</a></li>
          <li><a href="tel:+94 1912">TOURISM HOTLINE : 1912</a></li>
          <li><a href="tel:+94 11 242 1052">TOURISM POLICE +94 11 242 1052</a></li>
        </ul>
      </div>

      <div class="icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
    <hr>
    <p class=copyright> Copyright ® 2023 GROUP-100 All rights Reserved </p>
  </footer>
  <!-- Footer start -->

  </div>

  <script src="../../../Assets/JS/script.js"></script>
</body>

</html>