<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventclix.Online - Cricket</title>
  <link rel="stylesheet" type="text/css" href="../../../Assets/CSS/info-css/sports-c/cricket.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../../../Assets/img/content/logo-dark.png" media="(prefers-color-scheme: light)">
  <link rel="icon" href="../../../Assets/img/content/logo-light.png" media="(prefers-color-scheme: dark)">
</head>
</head>

<body>

  <!--Navigaion bar-->
  <section>
    <header>
      <a href="../../../index.html" class="logo"><span>EVENTCLiX.ONLINE</span></a>

      <button class="menu-button" id="menu-button" onclick="toggleNav()">&#9776;</button>
      <nav class="navbar">
        <a href="../../../index.html">Home</a>
        <a href="../../event.html">Find Info</a>
        <a href="../../gallery.html">Gallery</a>
        <a href="../../about-us.html">About Us</a>
        <a href="../../Auth/index.php">Contact Us</a>
      </nav>
    </header>

    <!--Navigaion bar end-->


    <!--Landing page-->
    <div class="content">
      <div class="info">
        <h2>Cricket</h2>
        <p>Sri Lankan cricket is the cricket team representing Sri Lanka, an island country in the Indian Ocean. The
          team is a full member of the International Cricket Council (ICC) and participates in Test, One Day
          International (ODI) and Twenty20 International (T20I) matches.<br><br>

          Sri Lanka has a long history of cricket, dating back to the early 19th century. The country has a strong
          domestic cricket structure and has produced many talented cricketers over the years. Some of the most famous
          Sri Lankan cricketers include Muttiah Muralitharan, Kumar Sangakkara, Mahela Jayawardene, and Sanath
          Jayasuriya.<br><br>

          Sri Lanka has had success on the international stage, including winning the Cricket World Cup in 1996 and
          reaching the final in 2007 and 2011. The team has also won the Asian Test Championship, the Asian Cup, and the
          ICC Intercontinental Cup. In recent years, however, the team has struggled to maintain its success and has
          faced criticism for its poor performances. Despite this, Sri Lanka remains a formidable cricketing nation and
          continues to produce talented cricketers who represent the country with pride.</p>
      </div>
    </div>
  </section>
  <!--Landing page end-->


  <!--Content 1-->
  <div class="content-1">
    <div class="text">
      <h1>History</h1>

      <p>The Sri Lankan cricket team is governed by the Sri Lanka Cricket board, which is responsible for organizing and
        managing the team.The team plays its home matches at a number of venues across the country, including the R.
        Premadasa Stadium in
        Colombo, the Sinhalese Sports Club Ground in Colombo, and the Pallekele International Cricket Stadium in
        Kandy.Sri Lanka has a long-standing rivalry with India in cricket, and matches between the two teams are often
        fiercely contested. The teams have faced off in numerous high-profile tournaments, including the Cricket World
        Cup and the Asian Cup.In addition to its success at the international level, Sri Lanka has also had success in
        domestic cricket. The<br><br>
        country has a well-established domestic cricket structure, with a number of domestic leagues and tournaments,
        including the Premier League Tournament and the Inter-Provincial Twenty20.Some of the current key players in the
        Sri Lankan cricket team include captain Dimuth Karunaratne, fast bowler
        Lasith Malinga, and all-rounder Angelo Mathews.<br><br>The Sri Lankan cricket team made its debut in
        international
        cricket in 1975, when it played against the West Indies in a One Day International (ODI) match. The team's first
        Test match came a year later, against England.In 1996, Sri Lanka won the Cricket World Cup, defeating Australia
        in the final. This was a major achievement for
        the team, and it cemented Sri Lanka's place as a top cricketing nation.Some of the most iconic moments in Sri
        Lankan cricket history include Muttiah Muralitharan's record-breaking
        800th Test wicket in 2010, and Sanath Jayasuriya's explosive batting performances in the 1996 Cricket World
        Cup.In recent years, Sri Lanka has struggled to maintain its success at the international level.<br><br> The
        team has
        faced
        criticism for its poor performances, and has gone through a number of coaching and management changes in an
        effort to turn things around.Despite these challenges, Sri Lanka remains a formidable cricketing nation and
        continues to produce talented
        cricketers who represent the country with pride.</p>

    </div>
    <button class="button-18" role="button"><a class="btn-text" href="https://srilankacricket.lk/" target="_blank">
        Learn More
      </a></button>
  </div>

  <div class="container">
    <div class="box">

      <div class="dream">
        <img src="https://img1.hscicdn.com/image/upload/f_auto/lsci/db/PICTURES/CMS/281300/281361.6.jpg">
        <img
          src="https://resources.pulse.icc-cricket.com/ICC/photo/2022/02/20/17aa9a02-64f6-4826-bd63-9b5d9dba130e/GettyImages-1371671172.jpg">
        <img
          src="https://www.aljazeera.com/wp-content/uploads/2022/09/2022-09-11T185428Z_696745589_UP1EI9B1GIQC5_RTRMADP_3_CRICKET-ASIACUP.jpg?resize=1800%2C1800">
      </div>

      <div class="dream">
        <img
          src="https://resources.pulse.icc-cricket.com/photo-resources/2022/02/15/16d24b0e-9307-4048-99f4-8dfa7a81f5a0/GettyImages-1238432403.jpg?width=640&height=360">
        <img
          src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2022/06/gettyimages-1370672342-1-1654516957.jpg">
        <img src="https://static.toiimg.com/photo/msid-84168598/84168598.jpg">
      </div>

      <div class="dream">
        <img src="https://i0.wp.com/cricketaddictor.com/wp-content/uploads/2022/10/Sri-Lanka-Cricket-Team.jpeg">
        <img src="https://www.espncricinfo.com/db/PICTURES/CMS/183500/183511.jpg">
        <img src="https://www.dailynews.lk/sites/default/files/news/2018/09/28/z_p13-Sri-Lanka.jpg">
      </div>


    </div>
  </div>


  <!-- Footer start -->
  <footer>
    <div class="footer-container">

      <div class="one-footer">
        <img src="../../../Assets/img/content/logo-light.png" alt="LOGO">

        <p>
          EVENTCLiX.ONLINE<br>Is a website designed to help tourist<br>discover our and
          book events and acvities in their<br>
          destination.
        </p>
      </div>

      <div class="two-footer">
        <ul>
          <li><a href="../../../index.html">Home</a></li>
          <li><a href="../../event.html">Find Info</a></li>
          <li><a href="../../gallery.html">Gallery</a></li>
          <li><a href="../../about-us.html">About Us</a></li>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
        </ul>
      </div>

      <div class="three-footer">
        <ul>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
          <li><a href="mailto:eventclix.online@gmail.com">eventclix.online@gmail.com</a></li>
          <li><a href="mailto:info@eventclix.online">info@eventclix.online</a></li>
          <li><a href="tel:+94 1912">TOURISM HOTLINE : 1912</a></li>
          <li><a href="tel:+94 11 242 1052">TOURISM POLICE +94 11 242 1052</a></li>
        </ul>
      </div>

      <div class="icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
    <hr>
    <p class=copyright> Copyright ® 2023 GROUP-100 All rights Reserved </p>
  </footer>
  <!-- Footer start -->

  </div>

  <script src="../../../Assets/JS/script.js"></script>
</body>

</html>