<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventclix.Online - Netball</title>
  <link rel="stylesheet" type="text/css" href="../../../Assets/CSS/info-css/sports-c/netball.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../../../Assets/img/content/logo-dark.png" media="(prefers-color-scheme: light)">
  <link rel="icon" href="../../../Assets/img/content/logo-light.png" media="(prefers-color-scheme: dark)">
</head>
</head>

<body>

  <!--Navigaion bar-->
  <section>
    <header>
      <a href="../../../index.html" class="logo"><span>EVENTCLiX.ONLINE</span></a>

      <button class="menu-button" id="menu-button" onclick="toggleNav()">&#9776;</button>
      <nav class="navbar">
        <a href="../../../index.html">Home</a>
        <a href="../../event.html">Find Info</a>
        <a href="../../gallery.html">Gallery</a>
        <a href="../../about-us.html">About Us</a>
        <a href="../../Auth/index.php">Contact Us</a>
      </nav>
    </header>

    <!--Navigaion bar end-->


    <!--Landing page-->
    <div class="content">
      <div class="info">
        <h2>Netball</h2>
        <p>Netball is a popular team sport in Sri Lanka, with a strong following among both men and women. It is played
          on a rectangular court with raised goalposts at each end. The court is divided into three sections: the
          attacking third, the center third, and the defending third. Each team consists of seven players, who are not
          allowed to move with the ball but must pass it to their teammates using only their hands. The objective of the
          game is to score goals by throwing the ball through the opponents' goalpost. The team that scores the most
          goals wins the game.<br><br>

          There are several positions in netball, including the goal shooter, goal attack, center, wing attack, wing
          defense, goal defense, and goal keeper. Each position has specific responsibilities and roles on the court.
          The goal shooter and goal attack are responsible for scoring goals, while the center, wing attack, and wing
          defense are responsible for getting the ball to the goal shooters. The goal defense and goal keeper are
          responsible for defending the goal and blocking shots on goal.<br><br>

          Netball is a fast-paced and exciting sport that requires skill, strategy, and teamwork. It is played at all
          levels, from amateur to professional, in Sri Lanka and around the world. The Sri Lanka national netball team
          is a strong force in international competition, having won numerous medals in regional and international
          tournaments.</p>
      </div>
    </div>
  </section>
  <!--Landing page end-->


  <!--Content 1-->
  <div class="content-1">
    <div class="text">
      <h1>History</h1>

      <p>Netball has a long history in Sri Lanka, with the first recorded game being played in the country in the 1930s.
        The game was introduced to Sri Lanka by British colonial officials, and it quickly gained popularity among women
        and girls in the country. In the early years, netball was primarily played in schools and universities, and it
        was seen as a way for young women to stay active and healthy.

        Over the years, netball has grown in popularity in Sri Lanka and has become an important part of the country's
        sports culture. The Sri Lanka Netball Federation (SLNF) was established in 1979 to promote and govern the sport
        in the country. The SLNF organizes national tournaments and leagues, and it also fields the Sri Lanka national
        netball team, which competes in international competitions.<br><br>

        The Sri Lanka national netball team has been successful on the international stage, winning numerous medals in
        regional and international tournaments. The team has consistently ranked among the top teams in Asia, and it has
        made several appearances at the Netball World Cup. In recent years, the team has also made strides in developing
        the sport at the grassroots level, with a focus on increasing participation and improving facilities in rural
        areas.<br><br>

        Today, netball is played at all levels in Sri Lanka, from amateur to professional. It is a popular sport among
        women and girls, and it is enjoyed by people of all ages and abilities.</p>

    </div>
    <button class="button-18" role="button"><a class="btn-text" href="https://www.thepapare.com/photos-sri-lanka-squad-asian-netball-championships-2022/"
        target="_blank"> Learn More </a></button>
  </div>

  <div class="container">
    <div class="box">

      <div class="dream">
        <img src="">
        <img src="">
        <img src="">
      </div>

      <div class="dream">
        <img src="">
        <img src="">
        <img src="">
      </div>

      <div class="dream">
        <img src="">
        <img src="">
        <img src="">
      </div>


    </div>
  </div>


  <!-- Footer start -->
  <footer>
    <div class="footer-container">

      <div class="one-footer">
        <img src="../../../Assets/img/content/logo-light.png" alt="LOGO">

        <p>
          EVENTCLiX.ONLINE<br>Is a website designed to help tourist<br>discover our and
          book events and acvities in their<br>
          destination.
        </p>
      </div>

      <div class="two-footer">
        <ul>
          <li><a href="../../../index.html">Home</a></li>
          <li><a href="../../event.html">Find Info</a></li>
          <li><a href="../../gallery.html">Gallery</a></li>
          <li><a href="../../about-us.html">About Us</a></li>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
        </ul>
      </div>

      <div class="three-footer">
        <ul>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
          <li><a href="mailto:eventclix.online@gmail.com">eventclix.online@gmail.com</a></li>
          <li><a href="mailto:info@eventclix.online">info@eventclix.online</a></li>
          <li><a href="tel:+94 1912">TOURISM HOTLINE : 1912</a></li>
          <li><a href="tel:+94 11 242 1052">TOURISM POLICE +94 11 242 1052</a></li>
        </ul>
      </div>

      <div class="icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
    <hr>
    <p class=copyright> Copyright ® 2023 GROUP-100 All rights Reserved </p>
  </footer>
  <!-- Footer start -->

  </div>

  <script src="../../../Assets/JS/script.js"></script>
</body>

</html>