<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventclix.Online - Rugby</title>
  <link rel="stylesheet" type="text/css" href="../../../Assets/CSS/info-css/sports-c/rugby.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../../../Assets/img/content/logo-dark.png" media="(prefers-color-scheme: light)">
  <link rel="icon" href="../../../Assets/img/content/logo-light.png" media="(prefers-color-scheme: dark)">
</head>
</head>

<body>

  <!--Navigaion bar-->
  <section>
    <header>
      <a href="../../../index.html" class="logo"><span>EVENTCLiX.ONLINE</span></a>

      <button class="menu-button" id="menu-button" onclick="toggleNav()">&#9776;</button>
      <nav class="navbar">
        <a href="../../../index.html">Home</a>
        <a href="../../event.html">Find Info</a>
        <a href="../../gallery.html">Gallery</a>
        <a href="../../about-us.html">About Us</a>
        <a href="../../Auth/index.php">Contact Us</a>
      </nav>
    </header>

    <!--Navigaion bar end-->


    <!--Landing page-->
    <div class="content">
      <div class="info">
        <h2>Rugby</h2>
        <p>Rugby is a popular sport in Sri Lanka and has a long history in the country. The Sri Lanka Rugby Football
          Union (SLRFU) was founded in 1981 and is responsible for overseeing the sport in the country. Sri Lanka has a
          national team that competes in international tournaments such as the Rugby World Cup and the Asian Five
          Nations.<br><br>

          Rugby is played on a grass field and involves two teams of 15 players each. The objective of the game is to
          score points by carrying the ball across the opponent's goal line or by kicking it through the goalposts. The
          team with the most points at the end of the game is declared the winner.

          In Sri Lanka, rugby is played at the club level, with teams representing various regions and cities. The SLRFU
          organizes a national league competition and also fields national teams at various age levels.<br><br>

          Sri Lanka has a strong tradition of rugby and has produced many talented players over the years. The sport is
          popular with both men and women, and there are many opportunities for players of all ages and skill levels to
          get involved.</p>
      </div>
    </div>
  </section>
  <!--Landing page end-->


  <!--Content 1-->
  <div class="content-1">
    <div class="text">
      <h1>History</h1>

      <p>The Ceylon Rugby Football Union was founded in 1908. The Ceylon Rugby Football Union (Ceylon RFU) was
        founded on 10 August 1908 at a meeting between representatives from Uva, Dimbula, Kelani Valley, Dickoya, Kandy
        and Colombo at the Grand Orient Hotel (now known as Hotel Taprobane) in Colombo.<br><br> At the meeting H. B. T. Boucjer
        (from Uva) was elected as Chairman with the representatives unanimously resolving to form the Ceylon Rugby
        Football Rugby Union and to apply to be affiliated with the English Rugby Football Union. The Ceylon RFU also
        resolved that Kandy be selected as the centre of the Union and that J. G. Cruikshank be elected as Honorary
        Secretary. The Ceylon RFU became the first Rugby Union in Asia.<br><br>

        The SLRFU joined the IRB in 1988.In March 2011 the IRB stripped the SLRFU of full member status after it
        failed to conduct board elections in accordance with the By-Laws, the SLRFU's full membership however was
        subsequently re-instated follows the successful completion of the Union’s Annual General Meeting and Board
        elections.<br><br>

        In 2016 the SLRFU resolved to rename the organisation to Sri Lanka Rugby, following recent changes to other
        major rugby sporting bodies across the world.</p>

    </div>
    <button class="button-18" role="button"><a class="btn-text" href="http://www.srilankarugby.lk/"> Learn
        More </a></button>
  </div>

  <div class="container">
    <div class="box">

      <div class="dream">
        <img src="http://www.srilankarugby.lk/Photos/Gallery/2279/albumart.jpg">
        <img src="http://www.srilankarugby.lk/Photos/Gallery/2277/albumart.jpg">
        <img src="http://www.srilankarugby.lk/Photos/Gallery/2276/albumart.jpg">
      </div>

      <div class="dream">
        <img src="http://www.srilankarugby.lk/Photos/Gallery/2275/albumart.jpg">
        <img src="http://www.srilankarugby.lk/Photos/Gallery/2274/albumart.jpg">
        <img src="http://www.srilankarugby.lk/Photos/Gallery/2270/albumart.jpg">
      </div>

      <div class="dream">
        <img src="http://www.srilankarugby.lk/Photos/Gallery/2267/albumart.jpg">
        <img src="http://www.srilankarugby.lk/Photos/Gallery/2258/albumart.jpg">
        <img src="http://www.srilankarugby.lk/Photos/Gallery/2272/albumart.jpg">
      </div>


    </div>
  </div>


  <!-- Footer start -->
  <footer>
    <div class="footer-container">

      <div class="one-footer">
        <img src="../../../Assets/img/content/logo-light.png" alt="LOGO">

        <p>
          EVENTCLiX.ONLINE<br>Is a website designed to help tourist<br>discover our and
          book events and acvities in their<br>
          destination.
        </p>
      </div>

      <div class="two-footer">
        <ul>
          <li><a href="../../../index.html">Home</a></li>
          <li><a href="../../event.html">Find Info</a></li>
          <li><a href="../../gallery.html">Gallery</a></li>
          <li><a href="../../about-us.html">About Us</a></li>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
        </ul>
      </div>

      <div class="three-footer">
        <ul>
          <li><a href="../../Auth/index.php">Contact Us</a></li>
          <li><a href="mailto:eventclix.online@gmail.com">eventclix.online@gmail.com</a></li>
          <li><a href="mailto:info@eventclix.online">info@eventclix.online</a></li>
          <li><a href="tel:+94 1912">TOURISM HOTLINE : 1912</a></li>
          <li><a href="tel:+94 11 242 1052">TOURISM POLICE +94 11 242 1052</a></li>
        </ul>
      </div>

      <div class="icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
    <hr>
    <p class=copyright> Copyright ® 2023 GROUP-100 All rights Reserved </p>
  </footer>
  <!-- Footer start -->

  </div>

  <script src="../../../Assets/JS/script.js"></script>
</body>

</html>