*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
  }

  :root{
    --bg-color: #2b2b2b;
    --text-color: rgb(255, 255, 255);
    --main-color: #ffb554;
  }

  section{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://www.lanka-excursions-holidays.com/uploads/4/0/2/1/40216937/wood-carving-at-a-beam-in-the-drummers-hall-of-embekke_orig.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }

  header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: left;
    justify-content: space-between;
    background: transparent;
    padding-top: 1.5%;
    transition: all .50s ease;
  }

  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
}

  body::-webkit-scrollbar {
    display: none;

    align-content: center;
}


  .logo{
    margin-left: 8%;
  }

  .logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
  }
  .navbar{
    display: flex;
    padding-top: 10px;
    margin-right: 10%;
  }
  .navbar a{
    color: var(--text-color);
    font-size: 100%;
    font-weight: 500;
    padding: 1px 0;
    margin: 0px 20px;
    transition: all .50s ease;
  }
  .navbar a:hover{
    color: var(--main-color);
  }
  .navbar a.active{
    color: var(--main-color);
  }
  .main{
    display: flex;
    align-items: center;
  }
  
  @media screen and (max-width: 1090px){
    #menu-icon{
      display: block;
    }
    .navbar{
      position: absolute;
      top: 100%;
      right: -100%;
      width: 270px;
      height: 29vh;
      background: var(--main-color);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 10px;
      transition: all .50s ease;
    }
    .navbar a{
      display: block;
      margin: 12px 0;
      padding: 0px 250px;
      transition: all .50s ease;
    }
    .navbar a:hover{
      color: var(--text-color);
      transform: translateY(5px);
    }
    .navbar a.active{
      color: var(--text-color);
    }
    .navbar.open{
      right: 2%;
    }
  }
  
  .content{
    text-align: center;
    margin: 16% 15% 10%;
    }
    
  
    .content .info h2{
    color: #ffffff;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 20px;
    }

    .content .info p{
      text-align: center;
      color: white;
      padding: 10% 20% 5% ;
    }

    .content .scroll-btn{
      color: rgb(0, 0, 0);
      background: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 3px;
      padding: 15px 35px;
      border-radius: 50px;
      transition: 0.3s;
      transition-property: background;
      }

    .content .scroll-btn:hover{
    background: var(--main-color);
    }
    .content-1{
      text-align: center;
      margin: 16% 15% 10%;
      }

    .content-1{
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      padding: 5.5%;
      width: 80%;
      margin: 1rem auto 0 auto;
    }
    
    .content-1 p{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 36px;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: capitalize;
      }

    .content-1 h1{
      margin: 10px 0px 45px;
      font-size: 42px;
      letter-spacing: 2px;
      text-align: center;
      color: #2b2b2b;
    }

    .content-2{
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://www.lanka-excursions-holidays.com/uploads/4/0/2/1/40216937/5984625_orig.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100vh;
      
      padding: 30px 30px 40px;
    }
    
    .content-2 h1{
      color: #ffffff;
      padding: 10% 0% 2%;
      margin: 10px 10px 45px;
      font-size: 42px;
      letter-spacing: 2px;
      text-align: center;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      text-align: center;
      text-transform: capitalize;
    }
    .content-2 p{
      padding: 1em 10em 0em;
      color: #ffffff;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      display: flex;
      text-align: center;
      line-height: 200%;
    }
    .topic{
      padding: 120px 200px 200px;
      color: #fff;
      opacity: 0.9;
    }

    .header h3{
      text-align: center;
      padding: 30px 30px 40px;
      font-size: 40px;
    }

    .topic p{
      text-align: center;
      line-height: 25px;
      margin: 0% 15% 0%;
      
    }

    .header-1 h3{
      text-align: center;
      padding: 80px 30px 40px;
      font-size: 40px;
    }

    .topic{
      color: #2b2b2b;
    }
    
    footer{
      background-color: rgb(0, 0, 0,0.7);
      background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/wallpaper/kandyan-dancer.jpg);
      padding: 80px 0 20px;
      color: white; 
      width: 100%;
      height: 100%;
  }
  
  
  .footer-container{
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;
      padding-bottom: 50px;
  }
  
  .one-footer img
  {   
      width: 70px;
  }
  
  
  .one-footer p
  {   
      text-align: justify;
  }
  
  
  .two-footer ul li{
      list-style-type: none;
      line-height: 30px;
      color: black;
  }
  
  .two-footer ul li a{
      color: rgb(255, 255, 255);
      text-decoration: none;
  }
  
  .two-footer ul li a:hover{
      color: var(--main-color);
  }
  
  .three-footer ul li{
      list-style-type: none;
      line-height: 30px;
  }
  
  
  .three-footer ul li:hover{
      color: var(--main-color);
  }   
  
  
  .icons{
      padding-top: 100px;
  }
  
  .icons a{
      padding: 50px  5px 0;
  }
  
  .copyright{
      text-align: center;
      font-size: 10px;
      font-weight: bold;
      padding-top: 20px ;
  }
  
  .fa {      
      color: black;
      width: 42px;
    }  
  
  .icons i{
      font-size: 20px;
      background-color: aliceblue;
      padding: 10px 14px 10px;
      border-radius: 50px;
  }
  
  .icons i:hover{
      box-shadow: 0px 4px 20px var(--main-color);
  }

  .three-footer a{
    color: #ffffff;
  }

  @media screen and (max-width:768px){

    .content-2{
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://www.lanka-excursions-holidays.com/uploads/4/0/2/1/40216937/5984625_orig.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 180vh;
    }

}
  @media screen and (max-width:480px){
    .content-2{
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://www.lanka-excursions-holidays.com/uploads/4/0/2/1/40216937/5984625_orig.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 190vh;
    }

}
  @media screen and (max-width:380px){

  section{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(29, 28, 28, 0.7)), url(https://www.lanka-excursions-holidays.com/uploads/4/0/2/1/40216937/wood-carving-at-a-beam-in-the-drummers-hall-of-embekke_orig.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
  }

  .content h2{
    text-align: center;
    color: #ffb554;
  }

  .content-1 h1{
    margin: 0% -10% 0%;

  }

  .content-1 p{
    margin: 0% -10% 0%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
  }

  .content-2{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://www.lanka-excursions-holidays.com/uploads/4/0/2/1/40216937/5984625_orig.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200vh;
  }
  .content-2 h1{
    margin: 0% 0% 0%;
    text-align: center;
    font-size: 2em;
  }
  .content-2 p{
    margin: 0% 0% 200%;
    padding:10%;
  }
}