*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
  }
  :root{
    --bg-color: #2b2b2b;
    --text-color: rgb(255, 255, 255);
    --main-color: #ffb554;
  }

  body{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(29, 28, 28, 0.6)), url(/Assets/img/events-link-images/event-register.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: left;
    justify-content: space-between;
    background: transparent;
    padding-top: 20px;
    transition: all .50s ease;
  }
  
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
}

  body::-webkit-scrollbar {
    display: none;

    align-content: center;
}
  .logo{
    margin-left: 8%;
  }

  .logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
  }
  .navbar{
    display: flex;
    padding-top: 10px;
    margin-right: 10%;
  }
  .navbar a{
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    padding: 10px 0;
    margin: 0px 20px;
    transition: all .50s ease;
  }
  .navbar a:hover{
    color: var(--main-color);
  }
  .navbar a.active{
    color: var(--main-color);
  }
  .main{
    display: flex;
    align-items: center;
  }
  .main a{
    margin-right: 50px;
    margin-left: -10px;
    font-size: 16px;
    font-weight: 500;
    transition: all .50s ease;
  }
  .user{
    display: flex;
    align-items: center;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .sign{
    background: #fff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 10px;
  
  }
  
  .main a:hover{
    color: var(--main-color);
  }
  
  @media (max-width: 1280px){
    header{
      padding: 14px 2%;
      transition: .2s;
    }
    .navbar a{
      padding: 5px 0;
      margin: 0px 20px;
    }
  }
  
  @media (max-width: 1090px){
    #menu-icon{
      display: block;
    }
    .navbar{
      position: absolute;
      top: 100%;
      right: -100%;
      width: 270px;
      height: 29vh;
      background: var(--main-color);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 10px;
      transition: all .50s ease;
    }
    .navbar a{
      display: block;
      margin: 12px 0;
      padding: 0px 25px;
      transition: all .50s ease;
    }
    .navbar a:hover{
      color: var(--text-color);
      transform: translateY(5px);
    }
    .navbar a.active{
      color: var(--text-color);
    }
    .navbar.open{
      right: 2%;
    }
  }



  .content{
    padding: 60px 400px 50px 100px;
  }

  .info h2{
        color: #fff;
        font-size: 40px;
  }

  .info p{
    color: #fff;
    text-align: justify;
    padding-top: 30px;
  }


  .back{
    background-color: #fff;
  }

  .all-butn{
      text-align: center;
  }

  .butn button{
      margin: 100px;
      padding: 60px 300px;
      background: #FFA366;
      border: none;
  }

  .butn button a{
      font-size: 35px;
      color: rgb(255, 255, 255);
  }

  .butn button:hover{
    transform: scale(1.02);
    transition: 0.6s;
    border-radius: 20px;
    box-shadow: 10px 10px 50px  #2b2b2b;
  }







  footer{
    background-color: rgb(0, 0, 0,0.7);
    padding: 80px 0 20px;
    color: white; 
}


.footer-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
}

.one-footer img
{   
    width: 70px;
}


.one-footer p
{   
    text-align: justify;
}


.two-footer ul li{
    list-style-type: none;
    line-height: 30px;
    color: black;
}

.two-footer ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.two-footer ul li a:hover{
    color: var(--main-color);
}

.three-footer ul li{
    list-style-type: none;
    line-height: 30px;
}


.three-footer ul li:hover{
    color: var(--main-color);
}   


.icons{
    padding-top: 100px;
}

.icons a{
    padding: 50px  5px 0;
}

.copyright{
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    padding-top: 20px ;
}

.fa {      
    color: black;
    width: 42px;
  }  

.icons i{
    font-size: 20px;
    background-color: aliceblue;
    padding: 10px 14px 10px;
    border-radius: 50px;
}

.icons i:hover{
    box-shadow: 0px 4px 20px var(--main-color);
}

.three-footer a{
  color: #ffffff;
}